@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'

promo-list

  display: block
  margin-bottom: 2rem

  .dndPlaceholder
    border-top: 1px solid #dfdfdf
    padding-top: 0.5rem
    margin-left: 0.5rem
    margin-right: 0.5rem
    &:after
      content: '\E5C8'
      font-family: "Material Icons"
      color: gray
      font-size: 3rem

  .promo-row
    border-top: 1px solid #dfdfdf
    padding-top: 0.5rem
    margin-bottom: 0.5rem
    div:first-child
      min-width: 200px
      margin-left: 0

    img
      user-drag: none
      +user-select(none)

    .md-button
      font-size: 0.7rem
      min-height: 1.4rem
      max-height: 1.4rem
      line-height: 1.4rem
  h2
    font-size: 1.6rem
    margin-bottom: 0.5rem
    span
      display: inline-block
      +size(20px)
      border-radius: 50%
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3)
      border: 2px solid white

