<ul dnd-list="$ctrl.promos" class="negative-margin">
    <li dnd-draggable="promo"
        dnd-moved="$ctrl.promos.splice($index, 1); $ctrl.changeOrder()"
        dnd-effect-allowed="move"
        ng-repeat="promo in $ctrl.promos"
        layout="row"
        layout-xs="column"
        class="promo-row" layout-margin>
        <div>
            <img ng-if="promo.image" ng-src="{{'/storage/cache/promo/' + promo.image + '/200x200.jpg'}}">
        </div>
        <div flex>
            <h2>
                <span style="background-color: {{promo.color}}"></span>
                {{promo.header}}
            </h2>
            <p ng-show="promo.url">URL: <a href="{{promo.url}}" target="_self">{{promo.url}}</a></p>
            <p>{{promo.content}}</p>
            <div>
                <md-button type="button" class="md-raised" ng-click="$ctrl.edit(promo._id)">Изменить</md-button>
                <md-button type="button" class="md-raised" ng-click="$ctrl.remove(promo._id)">Удалить</md-button>
            </div>
        </div>
    </li>
</ul>
