<ng-form name="filesForm" novalidate>

    <ul dnd-list="$ctrl.files">
        <li ng-repeat="file in $ctrl.files"
            dnd-draggable="file"
            dnd-moved="$ctrl.files.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="selected = file">

            <div layout="row" layout-xs="column" class="items-container">
                <div flex-xs="100">
                    <div class="photo-wrapper">
                        <div ng-style="{'background-image':'url({{$ctrl.getFileSrc(file)}})'}"></div>
                    </div>
                </div>
                <div flex>
                    <div class="controls">
                        <span ng-show="($index === 0) && ($ctrl.files.length > 1)">
                            <i class="material-icons main-photo">check_circle</i> Главное фото
                            <span class="pseudo-link" ng-click="$ctrl.showHint('Чтобы изменить главное фото, перетащите необходимое фото на это место, в самый верх списка.')">(изменить)</span> &nbsp;
                        </span>
                        <span class="pseudo-link" ng-click="$ctrl.removePhoto(file)">Удалить</span>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <input placeholder="Описание фото" ng-model="file.description" maxlength="100">
                        </md-input-container>
                    </div>
                </div>
            </div>

        </li>
    </ul>

    <div ngf-drop="$ctrl.upload($files)"
         ng-model="files"
         ngf-drag-over-cxlass="'dragover'"
         ngf-multiple="true"
         ngf-max-files="$ctrl.maxFiles"
         ngf-pattern="'image/*'"
         ngf-accept="'image/*'"
         ngf-max-size="$ctrl.maxSize"
         class="photo"
         ng-show="$ctrl.files.length < $ctrl.maxFiles">
        <div class="inner" ng-switch="$ctrl.mode">

            <div class="add" ng-switch-when="0">
                <md-button ngf-select="$ctrl.upload($files)"
                           ng-model="files"
                           ngf-multiple="true"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-max-files="$ctrl.maxFiles"
                           ngf-max-size="$ctrl.maxSize"
                           class="md-raised add-photo"><span>Выберите фото</span></md-button>
                <div>или перетащите фото в эту область (максимум {{$ctrl.maxFiles - $ctrl.files.length}}шт.)</div>
            </div>

            <div class="loading" ng-switch-when="1">
                <div ng-show="$ctrl.progress == 100" class="processing">Обработка...</div>
                <i ng-show="$ctrl.progress < 100" class="material-icons"
                   ng-click="$ctrl.cancelUploading()">clear</i>
                <md-progress-circular class="md-hue-1" value="{{$ctrl.progress}}"
                                      md-diameter="160"></md-progress-circular>
            </div>

        </div>
    </div>

</ng-form>
