<div class="wrap">
    <h1 class="page-head">Регистрация на сайте</h1>

    <div layout="row" layout-align="center center">
        <div layout="column" flex-sm="60" flex="40" flex-xs="100" layout-fill>
            <sign-up recaptcha-site-key="'<%= recaptchaSiteKey %>'"></sign-up>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
