<div class="wrap">
    <h1 class="page-head">Повторный запрос активации Email</h1>

    <resend-verification recaptcha-site-key="'<%=recaptchaSiteKey%>'"></resend-verification>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
