<md-dialog class="account-profile" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Категория</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="category-wrapper">
                    <category-node nodes="$ctrl.categories"></category-node>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()" class="md-raised">
                OK
            </md-button>
        </md-dialog-actions>

</md-dialog>
