<md-button ng-click="$ctrl.selectCategories()" class="md-raised">
    <span ng-show="$ctrl.selectedCategories.length === 0">Выбрать категории</span>
    <span ng-show="$ctrl.selectedCategories.length">Редактировать</span>
</md-button>

<ul class="category-chips">
    <li ng-repeat="cat in $ctrl.selectedCategories">
        {{cat.title}} <span ng-click="$ctrl.removeFromSelected(cat)"></span>
    </li>
</ul>





