<ul ng-repeat="node in $ctrl.nodes">
    <li>

        <span class="category-node-title" ng-class="{'no-children': !node.children.length}">
            <span ng-click="node.show = !node.show" class="category-node-arrow" ng-class="{opened: node.show, 'no-children': !node.children.length}"></span>

            <md-checkbox ng-model="node.selected">{{node.title}}</md-checkbox>

        </span>

        <div class="category-node-children" ng-class="{opened: node.show}">
            <category-node nodes="node.children"></category-node>
        </div>
    </li>
</ul>
