<script type="text/javascript"><!--
    google_ad_client = "ca-pub-1231978523828938";
    /* 728 на 90 */
    google_ad_slot = "1475869964";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
</script>
<script type="text/javascript"
        src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
