<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Рекомендация AdSense -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-1231978523828938"
     data-ad-slot="6357575565"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
