<h3>Статьи</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query && !$ctrl.status">
    <p>У Вас ещё нет статей</p>
    <div>
        <md-button class="md-raised" href="/article-add" target="_self">
            Добавить статью
        </md-button>
    </div>
</div>

<items-list get-page="$ctrl.getPage()"
            status="$ctrl.status"
            type="'article'"
            page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.articles"
            total="$ctrl.total"
            edit-item="$ctrl.editItem(id)"
            delete-item="$ctrl.deleteItem(id)"
            per-page="$ctrl.perPage"></items-list>
