<div class="avatar-wrapper">
    <div class="avatar-image">
        <a href="{{$ctrl.avatarUser.profileUrl}}" target="_self">
            <img ng-show="$ctrl.avatarUser.avatarSrc" ng-src="{{$ctrl.avatarUser.avatarSrc}}">
            <span ng-hide="$ctrl.avatarUser.avatarSrc" class="noimage"><span></span></span>
            <span class="avatar-user-status" ng-class="{online: $ctrl.avatarUser.avatarSrc, offline: !$ctrl.avatarUser.avatarSrc}"></span>
        </a>
    </div>
    <div class="avatar-name" ng-hide="$ctrl.avatarHideName">
        <a href="{{$ctrl.avatarUser.profileUrl}}" target="_self">{{$ctrl.avatarUser.name}}</a>
    </div>
</div>

