@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../cssmodules/mixins/index'

avatar
  $size: 40px
  $statusSize: 12px

  display: inline-block
  vertical-align: middle

  .avatar-wrapper



    display: table
    .avatar-image, .avatar-name
      display: table-cell
      vertical-align: middle

    .avatar-image
      display: inline-block
      position: relative
      margin-right: 8px
      +size($size)
      img
        +size($size)
        border-radius: 50%
      .noimage, .noimage span
        vertical-align: middle
        border-radius: 50%
        display: inline-block
        +size($size)
      .avatar-user-status
        border: 2px solid white
        position: absolute
        bottom: 0
        right: 0
        display: inline-block
        +size($statusSize)
        border-radius: 50%
        &.online
          background-color: #73b308
        &.offline
          background-color: #cfcfcf
