@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

@mixin additem-button($button-size, $clr)

  $font-size: 0

  @if ($button-size == small)
    $font-size: 0.7rem
  @if ($button-size == normal)
    $font-size: 0.85rem
  @if ($button-size == large)
    $font-size: 1.1rem

  $corner-color: lighten($color-orange, 15%)
  $corner-color-hover: #dd470a
  $button-color: $color-orange
  $icon-color: darken($color-orange, 20%)
  $shadow-color: darken($color-orange, 5%)

  @if ($clr == silver)
    $corner-color: lighten($color-gray, 35%)
    $corner-color-hover: lighten($color-black, 15%)
    $button-color: white
    $icon-color: $color-gray
    $shadow-color: lighten($color-gray, 25%)

  // actually the button height
  $line-height: $font-size * 2.3

  display: inline-block
  z-index: 0
  font-size: $font-size
  overflow: hidden
  position: relative
  box-shadow: 0 2px 0 0 $shadow-color, 0 2px 10px 0 rgba(0, 0, 0, 0.2)
  transition: all 0.3s ease
  background: $button-color
  border-radius: 4px
  &:before
    z-index: 2
    position: absolute
    top: 50%
    transform: translateY(-50%)
    @if ($button-size == small)
      left: 0.2rem
    @else
      left: 0.5rem
    line-height: $line-height
    transition: all 0.5s ease
    color: $icon-color
    vertical-align: middle
    font-size: $font-size * 1.3
    content: '\E148'
    font-family: "Material Icons"


  a
    white-space: nowrap
    display: block
    line-height: $line-height
    text-transform: uppercase
    @if ($button-size == small)
      padding: 0 0.2rem
      padding-left: $font-size * 2.2
    @else
      padding: 0 0.5rem
      padding-left: $font-size * 2.5
    position: relative
    z-index: 2
    color: darken($color-orange, 45%)
    span
      display: block
      margin-top: -($font-size)
      font-size: $font-size * 0.7


  $corner-offset: 0.5rem

  span.corner
    transition: all 0.5s ease
    display: inline-block
    position: absolute
    top: 0
    left: $corner-offset
    +size(100%)
    transform: translateX(-100%)
    background-color: $corner-color
    &:after, &:before
      transform: translateY(-50%) translateX(50%) scale(0.5,1) rotate(45deg)
      content: ''
      position: absolute
      top: 50%
      right: 0
      @if ($button-size == small)
        +size($font-size * 4)
      @else
        +size($font-size * 5)
      background-color: $corner-color
    &:before
      background-color: $corner-color-hover
      left: 0
      z-index: -1
      transform: translateY(-50%) translateX(-50%) scale(0.5,1) rotate(45deg)

  &:hover
    span.corner
      left: 0
      transform: translateX($corner-offset)
    &:before
      transform: translateY(-50%) rotate(180deg)
      color: white

  &:active
    top: 2px
    box-shadow: 0 2px 0 0 darken($shadow-color, 5%), 0 4px 7px 0 rgba(0, 0, 0, 0.2)
    a
      color: black


.additem-button.silver
  &.normal
    +additem-button(normal, silver)
  &.small
    +additem-button(small, silver)
  &.large
    +additem-button(large, silver)

.additem-button.orange
  &.normal
    +additem-button(normal, orange)
  &.small
    +additem-button(small, orange)
  &.large
    +additem-button(large, orange)
