.items-container
  background-color: #f5f5f5
  padding: 0.5rem
  margin-bottom: 0.5rem
  > div
    margin-left: 0.5rem
    margin-right: 0.5rem
    margin-bottom: 0.5rem
    &:first-child
      margin-left: 0
      margin-right: 0
    &:last-child
      margin-right: 0
    @media screen and (max-width: $layout-breakpoint-xs)
        margin-left: 0

  .controls
    font-size: 0.8rem
    margin-bottom: 0.5rem
    .material-icons
      vertical-align: middle
      font-size: 0.95rem
