@mixin user-avatar($size, $statusSize: $size / 4)
  position: relative
  display: inline-block
  border-radius: 50%
  .status
    position: absolute
    bottom: 0
    right: 0
    display: inline-block
    +size($statusSize)
    border-radius: 50%
    &.online
      background-color: #73b308
    &.offline
      background-color: #cfcfcf
  img, .noimage, .noimage span
    vertical-align: middle
    border-radius: 50%
    display: inline-block
    +size($size)

@mixin user-avatar-name($size, $statusSize: $size / 4)
  white-space: nowrap
  display: inline-block
  .avatar
    +user-avatar($size, $statusSize: $size / 4)
  .username, .avatar
    vertical-align: middle
    display: inline-block
  .username
    margin-left: 0.1rem
    max-width: calc(100% - 50px)
    overflow: hidden
    text-overflow: ellipsis

