<div class="control-bar" ng-show="$ctrl.items.length || $ctrl.query">
    <div layout-xs="column" layout="row">
        <md-input-container flex-xs="100" flex-sm="50" flex="40">
            <input placeholder="Поиск по названию" ng-model="$ctrl.query" ng-model-options="{ debounce: 200 }">
        </md-input-container>
    </div>
</div>

<div class="paging">
    <div paging
         ng-show="$ctrl.total > $ctrl.perPage"
         paging-action="$ctrl.getPage()"
         page="$ctrl.page"
         page-size="$ctrl.perPage"
         scroll-top="true"
         total="$ctrl.total"></div>
</div>

<div class="notfound" ng-show="$ctrl.items.length === 0 && $ctrl.query">По условиям поиска ничего не найдено</div>

<div class="items-list" ng-show="$ctrl.items.length">
    <list-item item="item" delete-item="$ctrl.deleteItem({id: item._id})" ng-repeat="item in $ctrl.items"></list-item>
</div>

<div class="paging">
    <div paging
         ng-show="$ctrl.total > $ctrl.perPage"
         paging-action="$ctrl.getPage()"
         page="$ctrl.page"
         page-size="$ctrl.perPage"
         scroll-top="true"
         total="$ctrl.total"></div>
</div>




