<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= title %></title>
    <% if (typeof metaDescription !== 'undefined') { %><meta name="description" content="<%= metaDescription %>"/><% } %>
    <% if ((typeof metaKeywords !== 'undefined') && metaKeywords.length) { %><meta name="keywords" content="<%= metaKeywords.map(function (keyword) {
        return keyword.toLowerCase()
    }).join(', ') %>"/><% } %>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico?v=2" />
    <meta name="viewport" content="width=device-width">
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }</style>
</head>
<body ng-cloak ng-class="{'side-menu-opened': sideMenuOpened}">
<% if ((typeof authRequired !== 'undefined') && user && !user.verified) { %>
<div class="nonVerified">Пожалуйста, проверьте свой Email и перейдите по ссылке активации. Также вы можете <a href="/user/verification/resend" target="_self">повторно запросить</a> ссылку активации.</div>
<% } %>

<% include includes/sidemenu.ejs %>

<% include includes/header.ejs %>
<% include includes/navbar.ejs %>
<% if ((typeof admin !== 'undefined') && admin === true) { %>
<% include includes/navbar-adm.ejs %>
<% } %>

<section id="content">
    <md-progress-linear md-mode="indeterminate" class="page-loading" ng-show="$root.loading"></md-progress-linear>
    <div><%- body %></div>
</section>


<% if ((typeof user !== 'undefined') && user && user.role === 'admin') {
%><% include includes/footer-adm %><% } else { %><% include includes/footer %><%}%>

<script type="text/javascript">
    document.documentElement.setAttribute("data-agent", navigator.userAgent);
    <% if (authRequired) { %>window.authRequired = true;<% } %>
    <% if (user) { %>window.user = <%- JSON.stringify(user) %>;<% } %>
    <% if ((typeof jsVars !== 'undefined') && jsVars && jsVars.length) { jsVars.forEach(function(variable) {
        for (var key in variable) { %>window.<%- key %>=<%- variable[key] %>;<% }
    }); } %>
</script>

<% if ((typeof jsScripts !== 'undefined') && jsScripts && jsScripts.length) { jsScripts.forEach(function(script) { %><%- script %><% }); } %>

<script src="/build/bundle<%= ((typeof admin !== 'undefined') && admin === true) ? '-admin' : '' %>.js"></script>
</body>
</html>
