<md-dialog class="account-profile" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Добавление никнейма</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.add() : null" novalidate>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="!$ctrl.success" layout="column">
                    <md-input-container>
                        <label>Никнейм</label>
                        <input ng-model="$ctrl.nickname" name="firstname" minlength="3" maxlength="20"
                               ng-pattern="/^[a-zA-Z][a-zA-Z0-9-]{2,19}$/"
                               required>
                        <div ng-messages="form.firstname.$error">
                            <div ng-message="pattern">
                                Никнейм должен состоять из символов от a-z и от 0 до 9, допускается дефис. Никнейм должен начинаться с буквы.
                            </div>
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="minlength">Это обязательное поле</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </md-input-container>
                    <div class="nickname-url" ng-hide="form.$invalid">
                        <div class="label">URL вашей страницы будет таким:</div>
                        <div>{{$ctrl.user.host}}/user/{{$ctrl.nickname}}</div>
                    </div>
                    <div class="error-box" ng-show="$ctrl.serverError">
                        {{$ctrl.serverError}}
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || $ctrl.serverError"
                       class="md-raised md-primary"
                       type="submit">Сохранить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
