<md-dialog class="account-profile" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Изменение пароля</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.change() : null" novalidate>
        <md-dialog-content>
            <div class="md-dialog-content">

                <div ng-show="!$ctrl.success" layout="column">
                    <md-input-container>
                        <label>Введите ваш текущий пароль</label>
                        <input ng-model="$ctrl.currentPassword"
                               name="currentPassword" type="password"
                               required>
                        <div ng-messages="form.currentPassword.$error">
                            <div ng-message="required">Это обязательное поле</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Новый пароль</label>
                        <input ng-model="$ctrl.newPassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{1,}$/"
                               ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                               name="newPassword" type="password" minlength="5" maxlength="100"
                               equals="{{retypePassword}}"
                               required>
                        <div ng-messages="form.newPassword.$error">
                            <div ng-message="required">Это поле обязательное</div>
                            <!--<div ng-message="equals">The password must match with the retype password</div>-->
                            <div ng-message="pattern">Пароль должен быть длиной от 5 символов, должен содержать буквы и цифры, и начинаться с буквы
                            </div>
                        </div>
                        <ic-password-strength value="$ctrl.newPassword"></ic-password-strength>
                    </md-input-container>

                    <md-input-container>
                        <label>Введите новый пароль еще раз</label>
                        <input ng-model="retypePassword"
                               ng-model-options="{updateOn: 'blur', debounce: {blur: 0} }"
                               type="password" name="retypePassword"
                               equals="{{$ctrl.newPassword}}" required>
                        <div ng-messages="form.retypePassword.$error">
                            <div ng-message="required">Это поле обязательное</div>
                            <div ng-message="equals">Пароль не совпадает с повтором пароля</div>
                        </div>
                    </md-input-container>

                    <div class="error-box" ng-show="$ctrl.serverError">
                        {{$ctrl.serverError}}
                    </div>

                </div>

                <div ng-show="$ctrl.success">
                    <h3>Пароль изменен</h3>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()" class="md-raised" ng-show="$ctrl.success">
                Ok
            </md-button>
            <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading" type="submit" ng-show="!$ctrl.success"
                       class="md-raised md-primary">
                Сохранить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised" ng-show="!$ctrl.success">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
