<md-dialog class="account-profile" ng-class="{'xs-view': $root.$mdMedia('xs')}">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование фото</h2>
                <span flex></span>
                <md-icon ng-click="$ctrl.cancel()">close</md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <avatar-upload avu-user="$ctrl.user"
                             avu-this="$ctrl.avatarUpload"></avatar-upload>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.save()" ng-disabled="$ctrl.avatarUpload.loading" class="md-raised md-primary">
                Сохранить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised">
                Отменить
            </md-button>
        </md-dialog-actions>

</md-dialog>
