<md-dialog class="account-profile" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Изменение имени</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.save() : null; " novalidate>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <label>Имя</label>
                        <input ng-model="$ctrl.editUser.firstname" name="firstname" minlength="2" maxlength="100"
                               required>
                        <div ng-messages="form.firstname.$error">
                            <div ng-message="required">Это поле обязательное</div>
                            <div ng-message="minlength">Значение поля слишком короткое</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Фамилия</label>
                        <input ng-model="$ctrl.editUser.lastname" name="lastname" minlength="2" maxlength="100">
                        <div ng-messages="form.lastname.$error">
                            <div ng-message="minlength">Значение поля слишком короткое</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="server-error" ng-show="$ctrl.serverError">{{$ctrl.serverError}}</div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || $ctrl.serverError"
                       class="md-raised md-primary"
                       type="submit">Сохранить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
