<div class="control-bar">
    <div layout-gt-xs="row" layout="column" layout-align-gt-xs="start center">
        <md-input-container flex-gt-xs="35" flex-order="1" flex md-no-float>
            <input placeholder="Поиск" ng-model="$ctrl.searchFilter" ng-model-options="{ debounce: 300 }">
        </md-input-container>
        <div flex flex-order-gt-xs="0" flex-order="2">
            <filter-buttons value="$ctrl.typeFilter" options="$ctrl.filterOptions"></filter-buttons>
        </div>
    </div>
</div>
<div class="total-count" ng-show="$ctrl.total">
    Выбрано {{$ctrl.total}}
</div>

<div class="notfound" ng-show="$ctrl.userItems.length === 0 && $ctrl.titleFilter">По условиям поиска ничего не найдено
</div>

<div class="table-wrapper" ng-show="$ctrl.userItems.length">
    <div ng-repeat="user in $ctrl.userItems" class="item">
        <div class="col">
            <a ng-href="{{user.url}}" target="_self" class="avatar">
                <span ng-show="!user.hasAvatar" class="noimage"><span></span></span>
                <img ng-show="user.hasAvatar" ng-src="/avatar/user/{{user.id}}.jpg">
                <span class="status" ng-class="{online: user.online, offline: !user.online}"></span>
            </a>
        </div>
        <div class="col">
            <div class="fullname">
                <span class="social {{user.social}}" ng-show="user.social"></span>
                <a ng-href="{{user.url}}" target="_self" ng-bind-html="user.fullname"></a>
                <span ng-show="user.nickname" class="nickname">(<span ng-bind-html="user.nickname"></span>)</span>
            </div>
            <div ng-show="user.email" class="email">
                <span ng-bind-html="user.email"></span>
                <i class="material-icons verified" ng-show="user.verified">&#xE5CA;</i>
                <i class="material-icons nonverified" ng-show="!user.verified">&#xE8B5;</i>
            </div>
            <div class="items-count">
                <span title="Новые" ng-class="{new: user.items.new}">{{user.items.new}}</span>
                <span title="Принятые" ng-class="{approved: user.items.approved}">{{user.items.approved}}</span>
                <span title="Отклоненные" ng-class="{denied: user.items.denied}">{{user.items.denied}}</span>
            </div>
            <div class="date" ng-show="user.lastActivity">
                Последняя активность {{user.lastActivity}}
            </div>
            <div class="date">Зарегистрирован {{user.createdAt}}</div>
        </div>
    </div>

</div>

<!--<div class="load-more">
    <md-button class="md-raised" ng-click="$ctrl.moderate()">
        Загрузить еще объявления (50)
    </md-button>
</div>-->

<div class="paging">
    <div paging
         ng-show="$ctrl.total > $ctrl.perPage"
         paging-action="$ctrl.getPage()"
         page="$ctrl.page"
         page-size="$ctrl.perPage"
         scroll-top="true"
         total="$ctrl.total"></div>
</div>
