<ul class="items-menu"><!--
    --><li ng-click="$ctrl.setValue(option.value)" ng-repeat="option in $ctrl.options"><a ng-class="{'active': $ctrl.isActive(option.value)}">{{option.title}}</a>
    </li><!--
--></ul>
