<div ng-hide="$ctrl.successful">
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.resend(model) : null" novalidate>
        <div layout="row" layout-align="center center">
            <div layout="column" flex-sm="50" flex="30" flex-xs="100" layout-fill>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="$ctrl.model.email" name="email" type="email" required>
                    <div ng-messages="form.email.$error">
                        <div ng-message="required">Это обязательное поле</div>
                        <div ng-message="email">Значение этого поля должно являться действительным Email</div>
                    </div>
                </md-input-container>

                <div class="g-recaptcha">
                    <div
                        vc-recaptcha
                        theme="'light'"
                        key="$ctrl.recaptchaSiteKey"
                        on-create="$ctrl.setWidgetId(widgetId)"
                        on-success="$ctrl.setResponse(response)"
                        on-expire="$ctrl.cbExpiration()"
                    ></div>
                </div>
                <div class="captcha-error" ng-show="form.$error.recaptcha && trySubmit">
                    Пожалуйста, подтвердите, что вы не робот
                </div>

                <div class="error-box" ng-show="$ctrl.serverError">
                    {{$ctrl.serverError}}
                </div>

                <div layout="row" layout-xs="column">
                    <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading" class="md-raised" flex="50" flex-xs="100"
                               type="submit">Отправить
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>

<div ng-show="$ctrl.successful">
    <h3>Мы отправили вам письмо со ссылкой для активации Email.</h3>
    <p>Пожалуйста, проверьте ваш ящик и перейдите по ссылке, указанной в письме.</p>
</div>
