<div class="additem">
    <form name="form" ng-submit="trySubmit = true; $ctrl.sendForm(form.$valid)" novalidate>
        <div layout="column" flex-xs="100" flex-sm="100" flex="70" layout-fill>


            <md-input-container>
                <label>Название статьи</label>
                <input ng-model="$ctrl.articleData.title" name="title" type="text" maxlength="100" required>
                <div ng-messages="form.title.$error">
                    <div ng-message="required">Это поле обязательное</div>
                    <div ng-message="maxlength">Значение поля слишком длинное</div>
                </div>
            </md-input-container>

            <div class="form-field">
                <div layout="row" layout-xs="column">
                    <md-select name="category" ng-model="$ctrl.articleData.category" placeholder="Выберите категорию" flex-xs="100" flex="50" required class="md-no-underline">
                        <md-option ng-value="category._id" ng-repeat="category in $ctrl.categories">{{category.title}}</md-option>
                    </md-select>
                </div>
                <div ng-show="form.category.$dirty || trySubmit">
                    <div ng-messages="form.category.$error" class="md-input-invalid">
                        <div ng-message="required">Это обязательное поле</div>
                        <div ng-message="minlength">Значение поля слишком короткое</div>
                        <div ng-message="maxlength">Значение поля слишком длинное</div>
                    </div>
                </div>
            </div>

            <div class="form-field">
                <span class="photo-wrapper" ng-repeat="file in $ctrl.articleData.photos">
                    <img ng-click="$ctrl.insertImage(file)" style="max-width: 100px;max-height: 100px;cursor: pointer;" title="Нажмите, чтобы вставить эту картинку" src="{{'/storage/cache/articles/' + file._id + '/1280x720.jpg'}}" alt="">
                </span>
                <text-angular ng-model="$ctrl.articleData.content"
                              ta-toolbar="[['h1','h2','h3', 'p'],['bold','italics', 'quote', 'ul', 'ol', 'insertImage', 'insertLink', 'html'], ['undo', 'redo']]"
                              name="content" required></text-angular>
                <div ng-show="form.content.$dirty || trySubmit">
                    <div ng-messages="form.content.$error" class="md-input-invalid">
                        <div ng-message="required">Это обязательное поле</div>
                        <div ng-message="minlength">Значение поля слишком короткое</div>
                        <div ng-message="maxlength">Значение поля слишком длинное</div>
                    </div>
                </div>
            </div>

            <div class="form-field">
                <h3><i class="material-icons">&#xE251;</i> Фото</h3>
                <photo ng-model="$ctrl.articleData.photos" type="'article'" edit-mode="$ctrl.editId ? true : false"
                       loading="photosLoading"></photo>
            </div>

            <div class="form-field">
                <tag ng-model="$ctrl.articleData.tags" name="tags" required></tag>
                <div ng-messages="form.$submitted && form.tags.$error">
                    <div ng-message="required">Теги - это обязательное поле</div>
                </div>
            </div>


            <div layout="row" layout-align="center center">
                <div>
                    <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true"
                               ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || photosLoading">
                        <span ng-hide="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Добавить статью</span>
                            <span ng-show="$ctrl.loading">Статья добавляется...</span>
                        </span>
                        <span ng-show="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Сохранить изменения</span>
                            <span ng-show="$ctrl.loading">Изменения сохраняются...</span>
                        </span>
                    </md-button>
                </div>
                <div flex>
                    <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении
                        формы. Пожалуйста, исправьте и кнопка станет активной.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
