<h3>Советы</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query && !$ctrl.status">
    <p>Ещё нет советов</p>
    <div>
        <md-button class="md-raised" href="/advice-add" target="_self">
            Добавить совет
        </md-button>
    </div>
</div>

<items-list get-page="$ctrl.getPage()"
            status="$ctrl.status"
            type="'advice'"
            page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.advices"
            total="$ctrl.total"
            edit-item="$ctrl.editItem(id)"
            delete-item="$ctrl.deleteItem(id)"
            per-page="$ctrl.perPage"></items-list>
