<div class="wrap">
    <h1 class="page-head">Вход на сайт</h1>

    <div layout="row" layout-align="center center">
        <div layout-xs="column" flex="40" flex-xs="100" flex-sm="60" layout-fill="">
            <login></login>
        </div>
    </div>
</div>
