<md-chips ng-model="$ctrl.selectedTags"
          md-on-add="$ctrl.add($chip)"
          md-autocomplete-snap="" md-transform>
    <md-autocomplete md-selected-item='$ctrl.selectedItem'
                     md-search-text='$ctrl.searchText'
                     md-items='item in $ctrl.querySearchDeferred($ctrl.searchText)'
                     md-item-text='item.tag'
                     placeholder="Введите теги">
        <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{item.tag}}</span>
    </md-autocomplete>
    <md-chip-template>
        {{$chip.tag}}
    </md-chip-template>
</md-chips>
