@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

$category-margin: 2rem

tag
  ul.category-chips
    margin-top: 0.5rem
    li
      display: inline-block
      background-color: #d4d4d4
      border-radius: 20px
      padding: 5px 15px
      margin-right: 0.2rem
      color: #444
      margin-bottom: 0.4rem
      span
        &:hover
          &:after
            color: black
        &:after
          transition: all 0.3s ease
          color: gray
          vertical-align: middle
          display: inline-block
          cursor: pointer
          +size(1.3rem)
          font-size: 1.3rem
          content: '\E5CD'
          position: relative
          font-family: "Material Icons"

      &:last-child
        margin-right: 0

.md-dialog-content
  .category-wrapper
    margin-left: -$category-margin

category-node
  li
    white-space: nowrap
  +user-select(none)

  md-checkbox
    margin-bottom: 0.2rem
    height: 1rem
    max-height: 1rem
    line-height: 1rem

  .category-node-title
    cursor: pointer
    &.no-children
      cursor: default

  .category-node-arrow
    +size(1.3rem)
    vertical-align: top
    display: inline-block
    transition: transform 0.3s ease
    font-size: 1.3rem

    &::after
      content: '\E315'
      position: relative
      font-family: "Material Icons"

    &.opened
      transform: rotate(90deg)

    &.no-children
      &::after
        content: ' '

  .category-node-children
    transition: all 0.1s ease-out
    max-height: 0
    overflow: hidden
    &.opened
      transition: all 0.6s ease-in
      max-height: 2000px

  ul
    margin-left: $category-margin
