<div class="additem">
    <form name="form" ng-submit="trySubmit = true; $ctrl.sendForm(form.$valid)" novalidate>
        <div layout="column" flex-xs="100" flex-sm="100" flex="70" layout-fill>

            <div class="field">
                <h3><i class="material-icons">&#xE0D8;</i> Основная информация</h3>
                <md-input-container>
                    <label>Название рецепта</label>
                    <input ng-model="$ctrl.recipeData.title" name="title" type="text" maxlength="100" required>
                    <div ng-messages="form.title.$error">
                        <div ng-message="required">Это поле обязательное</div>
                        <div ng-message="maxlength">Значение поля слишком длинное</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <textarea placeholder="Описание рецепта" ng-model="$ctrl.recipeData.description" name="description" required md-maxlength="1500" rows="2" md-select-on-focus></textarea>
                    <div ng-show="form.description.$dirty || trySubmit">
                        <div ng-messages="form.description.$error" class="md-input-invalid">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Время приготовления рецепта в минутах</label>
                    <input ng-model="$ctrl.recipeData.time" name="time" type="number" maxlength="3">
                </md-input-container>

            </div>

            <div class="field">
                <h3><i class="material-icons">&#xEB47;</i> Все ингредиенты рецепта</h3>
                <recipe-ingredients ng-model="$ctrl.recipeData.ingredients"></recipe-ingredients>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE251;</i> Фото готового блюда</h3>
                <photo ng-model="$ctrl.recipeData.photos" type="'recipe'" edit-mode="$ctrl.editId ? true : false" loading="photosLoading"></photo>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE2C7;</i> Категории рецепта *</h3>
                <category ng-model="$ctrl.recipeData.categories" name="categories"></category>
                <div ng-messages="form.$submitted && form.categories.$error">
                    <div ng-message="required">Категории - это обязательное поле</div>
                </div>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE892;</i> Теги *</h3>
                <tag ng-model="$ctrl.recipeData.tags" name="tags" required></tag>
                <div ng-messages="form.$submitted && form.tags.$error">
                    <div ng-message="required">Теги - это обязательное поле</div>
                </div>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE8CD;</i> Шаги приготовления рецепта</h3>
                <recipe-steps ng-model="$ctrl.recipeData.steps" edit-id="$ctrl.editId"></recipe-steps>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE04B;</i> Видео с YouTube</h3>
                <video-edit ng-model="$ctrl.recipeData.videos" max-items="4" ></video-edit>
            </div>
            <div layout="row" layout-align="center center">
                <div>
                    <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true" ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || photosLoading">
                        <span ng-hide="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Добавить рецепт</span>
                            <span ng-show="$ctrl.loading">Рецепт добавляется...</span>
                        </span>
                        <span ng-show="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Сохранить изменения</span>
                            <span ng-show="$ctrl.loading">Изменения сохраняются...</span>
                        </span>
                    </md-button>
                </div>
                <div flex>
                    <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении формы. Пожалуйста, исправьте и кнопка станет активной.</div>
                </div>
            </div>
        </div>
    </form>
</div>
