<h3>Мои рецепты</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query">
    <p>У Вас ещё нет рецептов</p>
    <div>
        <md-button class="md-raised" href="/recipe-add" target="_self">
            Добавить рецепт
        </md-button>
    </div>
</div>


<items-list page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.recipes"
            total="$ctrl.total"
            delete-item="$ctrl.deleteRecipe(id)"
            per-page="$ctrl.perPage"></items-list>
