<div class="home wrap" ng-controller="home as $ctrl">
    <promo-carousel></promo-carousel>

    <div class="caption-wrapper green-line">
        <h2>Пошаговые рецепты с фото</h2>
    </div>
    <recipes-recent></recipes-recent>


    <div class="caption-wrapper orange-line">
        <h2>Наши группы в соцсетях</h2>
    </div>
    <div layout-gt-sm="row" layout="column" layout-align="center center" layout-margin>
        <div>
            <div id="ok_group_widget"></div>
            <script>
                !function (d, id, did, st) {
                    var js = d.createElement("script");
                    js.src = "https://connect.ok.ru/connect.js";
                    js.onload = js.onreadystatechange = function () {
                        if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                            if (!this.executed) {
                                this.executed = true;
                                setTimeout(function () {
                                    OK.CONNECT.insertGroupWidget(id,did,st);
                                }, 0);
                            }
                        }}
                    d.documentElement.appendChild(js);
                }(document,"ok_group_widget","51618802237579",'{"width":300,"height":340}');
            </script>
        </div>
        <div>
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "340"}, 51319938);
            </script>
        </div>
        <div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9&appId=1794221897499914";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <div class="fb-page" data-href="https://www.facebook.com/zavtrakanet/" data-tabs="timeline" data-width="300" data-height="340" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            </div>
        </div>
    </div>

    <div class="caption-wrapper blue-line">
        <h2>Маркет</h2>
    </div>

    <div layout="row" layout-xs="column" layout-margin class="negative-margin">
        <div flex="50" flex-xs="100">
            <h3><a href="/parts/kuhonnye_prinadlezhnosti/" target="_self">Кухонные принадлежности</a></h3>
            <div layout="row" layout-margin class="negative-margin">
                <ul flex="100">
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/servizy/" target="_self">Сервизы</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/posuda/" target="_self">Посуда</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/posuda_dla_servirovki/" target="_self">Посуда для сервировки</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/kuhonnye_mojki/" target="_self">Кухонные мойки</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/pischevye_kontejnery/" target="_self">Пищевые контейнеры</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/skovorody_sotejniki/" target="_self">Сковороды, сотейники</a></li>
                </ul>
                <ul flex="100">
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/rjumki_bokaly_stakany/" target="_self">Рюмки, бокалы, стаканы</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/tarelki_pialy/" target="_self">Тарелки, пиалы</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/kastrjuli/" target="_self">Кастрюли</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/skaterti/" target="_self">Скатерти</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/termosy_fljazhki/" target="_self">Термосы, фляжки</a></li>
                    <li><a href="/parts/kuhonnye_prinadlezhnosti/salatnicy_fruktovnicy_menazhnicy/" target="_self">Салатницы, фруктовницы, менажницы</a></li>
                </ul>
            </div>
        </div>
        <div flex="50" flex-xs="100">
            <h3><a href="/parts/tehnika_dlja_kuhni/" target="_self">Техника для кухни</a></h3>
            <div layout="row" layout-margin class="negative-margin">
                <ul flex="100">
                    <li><a href="/parts/tehnika_dlja_kuhni/vytjazhki/" target="_self">Вытяжки</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/holodilniki/" target="_self">Холодильники</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/plity/" target="_self">Плиты</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/rabochie_varochnye_poverhnosti/" target="_self">Рабочие варочные поверхности</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/duhovki/" target="_self">Духовки</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/elektrochajniki_i_termopoty/" target="_self">Электрочайники и термопоты</a></li>
                </ul>
                <ul flex="100">
                    <li><a href="/parts/tehnika_dlja_kuhni/kofevarki_kofemashiny/" target="_self">Кофеварки, кофемашины</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/mikrovolnovye_pechi/" target="_self">Микроволновые печи</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/blendery_izmelchiteli/" target="_self">Блендеры, измельчители</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/posudomoechnye_mashiny/" target="_self">Посудомоечные машины</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/plity/gazovye_plity/" target="_self">Газовые плиты</a></li>
                    <li><a href="/parts/tehnika_dlja_kuhni/rabochie_varochnye_poverhnosti/gazovye/" target="_self">Газовые варочные панели</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>
