<% if ((user && user.id == (recipe.user._id || recipe.user)) || (user && user.role === 'admin')) { %>
<section id="item-controls">
    <div class="item-controls frame">
        <div layout="row" layout-xs="column" layout-align="center center">
            <div flex>
                <md-button target="_self" href="/recipe-add/<%= recipe._id %>" class="md-raised">
                    <i class="material-icons">&#xE3C9;</i> <span>Редактировать</span>
                </md-button>

                <md-button href="/user-items/recipes" target="_self" class="md-raised">
                    <i class="material-icons">&#xE037;</i> <span>К списку рецептов</span>
                </md-button>
            </div>
            <% if (user.role === 'admin') { %>
            <div>
                <status value="'<%= recipe.status %>'" type="'recipe'" item-id="'<%= recipe._id %>'" confirm="'true'"></status>
            </div>
            <% } %>
        </div>
    </div>
</section>
<% } %>


<div class="recipe wrap">

    <div class="negative-margin">
        <div layout="row" layout-xs="column" layout-sm="column" layout-margin>
        <div flex itemscope itemtype="http://schema.org/Recipe">

            <div hide-xs style="overflow: hidden; margin-bottom: 1rem">
                <% include ../../components/adv/adsense.horizontal.ejs %>
            </div>

            <div class="breadcrumbs">
                <%- breadcrumbs.map(function (breadcrumb) {
                    return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
                }).join(' / '); %>
            </div>

            <h1 class="item-head"><span itemprop="name"><%-recipe.title%></span></h1>

            <div class="item-user">
                <span itemprop="author"><%-recipe.user.firstname%> <%-recipe.user.lastname%></span> /
                рецепт добавлен <meta itemprop="datePublished" content="<%-moment(recipe.createdAt).format("YYYY-MM-DD")%>"><%-Common.formatCreatedDate(recipe.createdAt)%>
            </div>

            <% include ../../components/share.buttons.ejs %>

            <% include ../../components/star.rating.recipe.ejs %>

            <div class="recipe-description"><span itemprop="description"><%-recipe.description%></span></div>
            <% if (recipe.photos && recipe.photos.length) { %>
            <div class="recipe-photos">
                <% recipe.photos.forEach(function(photo, index) { %>
                <div>
                    <img<%-(index === 0 ? ' itemprop="image"' : '')%> src="/storage/cache/recipes/<%-photo._id%>/500x500.jpg" alt="<%=photo.description%>" title="<%=photo.description%>">
                </div>
                <% }) %>
            </div>
            <% } %>

            <% if (recipe.time) { %><p>Время приготовления <meta itemprop="cookTime" content="PT<%-recipe.time%>M"><%-recipe.time%> мин.</p><% } %>

            <% if (recipe.ingredients && recipe.ingredients.length) { %>
            <div class="recipe-ingredients">
                <h3>Ингредиенты</h3>
                <% recipe.ingredients.forEach(function(item) { %>
                <div>
                    <span itemprop="recipeIngredient">
                    <%-item.food ? item.food.food : ''%>
                    <%-item.quantity ? item.quantity : ''%>
                    <%-item.measure ? item.measure.measure : ''%>
                    </span>
                </div>
                <% }) %>
            </div>
            <% } %>


            <% recipe.steps && recipe.steps.length && recipe.steps.forEach(function(step, index) { %>
            <div class="recipe-step">
                <h3>Шаг <%=index + 1%></h3>

                <p><span itemprop="recipeInstructions"><%-step.description%></span></p>

                <% if (step.ingredients && step.ingredients.length) { %>
                <div class="recipe-ingredients">
                <h3>Ингредиенты</h3>
                <% step.ingredients.forEach(function(item) { %>
                <div>
                    <%-item.food ? item.food.food : ''%>
                    <%-item.quantity ? item.quantity : ''%>
                    <%-item.measure ? item.measure.measure : ''%>
                </div>
                <% }) %>
                </div>
                <% } %>

                <% if (step.photos && step.photos.length) { %>
                <div class="recipe-photos">
                    <% step.photos.forEach(function(photo) { %>
                    <div>
                        <img src="/storage/cache/recipes/<%-photo._id%>/500x500.jpg" alt="<%=photo.description%>" title="<%=photo.description%>">
                    </div>
                    <% }) %>
                </div>
                <% } %>

            </div>
            <% }) %>

            <% if (recipe.videos && recipe.videos.length) { %>
            <div class="recipe-videos" >
                <% recipe.videos.forEach(function(video) { %>
                <div layout="row" layout-xs="column">
                    <div class="recipe-video-item" flex="70" flex-xs="100">
                        <h4><%=video.title%></h4>
                        <div class="embed-responsive embed-responsive-16by9">
                            <youtube-video class="embed-responsive-item" video-id="'<%=video.youtubeId%>'" player-vars="{ showinfo: 0 }"></youtube-video>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <% } %>

            <% if (recipe.categories && recipe.categories.length) { %>
            <div class="item-categories">
                <h3>Категории</h3>
                <% recipe.categories.forEach(function(item, index) { %>
                <a class="tag" href="/recipes/<%=item.slug%>" target="_self"><%-item.title%></a>
                <% }) %>
            </div>
            <% } %>

            <% if (recipe.tags && recipe.tags.length) { %>
            <div class="item-tags">
                <h3>Теги</h3>
                <% recipe.tags.forEach(function(item, index) { %>
                <a class="tag" href="/recipes/bytag/<%=item.slug%>" target="_self"><%-item.tag%></a>
                <% }) %>
            </div>
            <% } %>

            <% include ../../components/share.buttons.ejs %>

            <% include ../../components/star.rating.recipe.ejs %>

            <% include ../../components/adv/yandex-rtb-horizontal.ejs %>

            <% if (comments && comments.length) { %>
            <div class="comments">
                <h3>Комментарии</h3>
                <% comments.forEach(function(comment) { %>
                <div class="comment-wrapper">
                    <div class="comment-user">
                        <%-comment.userData && comment.userData.name%>
                    </div>
                    <div class="comment-content">
                        <%-comment.comment%>
                    </div>
                </div>
            <% }) %>
            </div>
            <% } %>

        </div>
        <% include ../../components/similar.items.ejs %>
    </div>
    </div>

</div>

<% include ../../components/share.buttons.code.ejs %>
