<div class="wrap">

    <% if (id) { %>
    <h1>Редактирование рецепта</h1>

    <recipe-add edit-id="'<%=id%>'"></recipe-add>

    <% } else { %>
    <h1>Добавить рецепт</h1>

    <recipe-add></recipe-add>
    <% } %>

</div>

