<% var paging = recipes.paging %>
<div class="wrap recipes-list">

    <div class="breadcrumbs">
        <%- breadcrumbs.map(function (breadcrumb) {
            return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
        }).join(' / '); %>
    </div>

    <h1><%= titleHead %></h1>

    <% include ../../components/search.form.ejs %>

    <% if (recipes.data && recipes.data.length) { %>
    <div class="items-list">
        <% recipes.data.forEach(function(item) { %>
        <div class="item-col">
            <div class="item-card">
                <a href="<%=Common.getRecipeUrl(item)%>" target="_self">
                    <div class="item-card-image">
                        <img src="/storage/cache/recipes/<%=item.photos[0]._id%>/200x200.jpg" alt="<%=item.photos[0].description%>" title="<%=item.photos[0].description%>">
                    </div>
                </a>
                <div class="item-card-title">
                    <a href="<%=Common.getRecipeUrl(item)%>" target="_self"><%-item.title%></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div style="clear: both"></div>
    <div><% include ../../components/pagination.ejs %></div>
    <% } %>

</div>


