@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../cssmodules/mixins/index'

recipes-recent
  display: block
  .recipes-recent-card-wrapper
    display: block
    overflow: hidden
    float: left
    width: 33.333333%
    @media screen and (max-width: $layout-breakpoint-sm)
      width: 50%
    @media screen and (max-width: $layout-breakpoint-xs)
      width: 100%
    recipe-card
      margin: 0.5rem
