<div ng-repeat="recipe in $ctrl.recipes" class="negative-margin">
    <div class="recipes-recent-card-wrapper">
        <recipe-card recipe="recipe"></recipe-card>
    </div>
</div>
<div style="clear: both"></div>
