<ul class="items-menu">
    <li><a ui-sref="user-recipes" ui-sref-active="active">Рецепты <span>{{$ctrl.counts.recipes}}</span></a></li><!--
    --><!--<li><a ui-sref="user-articles" ui-sref-active="active">Статьи <span>{{$ctrl.counts.articles}}</span></a></li>--><!--
    --><li><a ui-sref="user-advices" ui-sref-active="active">Советы <span>{{$ctrl.counts.advices}}</span></a></li>
</ul>
<div style="clear: both"></div>

<ui-view></ui-view>
