@font-face
  font-family: 'Clear Sans'
  src: local('Clear Sans'), local('ClearSans'), url('/fonts/clearsans/clearsans.woff2') format('woff2'), url('/fonts/clearsans/clearsans.woff') format('woff'), url('/fonts/clearsans/clearsans.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Clear Sans'
  src: local('Clear Sans Medium'), local('ClearSans-Medium'), url('/fonts/clearsans/clearsansmedium.woff2') format('woff2'), url('/fonts/clearsans/clearsansmedium.woff') format('woff'), url('/fonts/clearsans/clearsansmedium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Clear Sans'
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('/fonts/clearsans/clearsansbold.woff2') format('woff2'), url('/fonts/clearsans/clearsansbold.woff') format('woff'), url('/fonts/clearsans/clearsansbold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat Light'), local('Akrobat-Light'), url('/fonts/akrobat/Akrobatlight.woff2') format('woff2'), url('/fonts/akrobat/Akrobatlight.woff') format('woff'), url('/fonts/akrobat/Akrobatlight.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat'), local('Akrobat-Regular'), url('/fonts/akrobat/Akrobat.woff2') format('woff2'), url('/fonts/akrobat/Akrobat.woff') format('woff'), url('/fonts/akrobat/Akrobat.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url('/fonts/akrobat/Akrobatsemibold.woff2') format('woff2'), url('/fonts/akrobat/Akrobatsemibold.woff') format('woff'), url('/fonts/akrobat/Akrobatsemibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat Bold'), local('Akrobat-Bold'), url('/fonts/akrobat/Akrobatbold.woff2') format('woff2'), url('/fonts/akrobat/Akrobatbold.woff') format('woff'), url('/fonts/akrobat/Akrobatbold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Akrobat'
  src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('/fonts/akrobat/Akrobatextrabold.woff2') format('woff2'), url('/fonts/akrobat/Akrobatextrabold.woff') format('woff'), url('/fonts/akrobat/Akrobatextrabold.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(/fonts/iconfont/MaterialIcons-Regular.eot) /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'), url(/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype')

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'


@font-face
  font-family: 'FontAwesome'
  src: url('/fonts/fa/fontawesome-webfont.eot')
  src: url('/fonts/fa/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/fonts/fa/fontawesome-webfont.woff2') format('woff2'), url('/fonts/fa/fontawesome-webfont.woff') format('woff'), url('/fonts/fa/fontawesome-webfont.ttf') format('truetype'), url('/fonts/fa/fontawesome-webfont.svg#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal
