a
  text-decoration: none
ul
  margin: 0
  padding: 0
  list-style: none

*:focus
  outline: none

md-input-container
  margin-bottom: 0

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  background-color: white !important
  -webkit-box-shadow: 0 0 0 1000px white inset
  transition: background-color 5000s ease-in-out 0s

md-toolbar
  min-height: 2.7rem !important
.md-toolbar-tools
  h2
    font-size: 1rem !important
  height: 2.7rem !important
