@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

// popup mdDialog
md-dialog.account-profile.gt-xs-view
  width: 400px

md-dialog.account-profile
  .nickname-url
    .label
      color: gray
      font-size: 0.8rem

st-account-profile
  .xs-view
    .data-cell
      &:first-child
        font-size: 0.8rem
        padding-bottom: 0.2rem
      display: block

  .data-container
    display: table
  .data-row
    display: table-row
  .data-cell
    vertical-align: middle
    .space
      display: inline-block
      +size(24px)
    md-icon
      color: silver
      cursor: pointer
      &:hover
        color: gray
    padding-bottom: 1rem
    &:first-child
      padding-right: 1rem
      color: gray
    display: table-cell
    &.edit-avatar
      img
        cursor: pointer
        vertical-align: middle
      .icons
        vertical-align: middle
        display: inline-block

  .social
    background: url(/images/social.png) no-repeat
    background-size: cover
    display: inline-block
    vertical-align: middle
    +size(20px)

    &.facebook
      background-position: -20px 0
    &.instagram
      background-position: -40px 0
    &.vkontakte
      background-position: 0 0
    &.odnoklassniki
      background-position: -100px 0
    &.google
      background-position: -80px 0
