<div ng-switch="$ctrl.mode">
    <div ng-switch-when="add">
        <promo-add on-add="$ctrl.mode = 'list'"></promo-add>
        <md-button type="button" class="md-raised" ng-click="$ctrl.mode = 'list'">Отмена</md-button>
    </div>
    <div ng-switch-when="edit">
        <promo-add on-add="$ctrl.mode = 'list'" edit-id="$ctrl.editId"></promo-add>
        <md-button type="button" class="md-raised" ng-click="$ctrl.mode = 'list'">Отмена</md-button>
    </div>
    <div ng-switch-default>
        <promo-list on-edit="$ctrl.mode = 'edit'" edit-id="$ctrl.editId"></promo-list>
        <md-button type="button" class="md-raised md-primary" ng-click="$ctrl.mode = 'add'">Добавить слайд</md-button>
    </div>
</div>


