<ng-form name="filesForm" novalidate>

    <div class="photo-wrapper" ng-show="$ctrl.file">
        <div class="image">
            <span ng-style="{'background-image':'url(' + $ctrl.imageUrl + ')'}"></span>
        </div>
        <div class="remove-link"><span class="pseudo-link border-dashed" ng-click="$ctrl.remove()">Удалить</span></div>
    </div>

    <div ng-show="$ctrl.showDropBox" >
        <div ngf-drop="$ctrl.upload($files)"
             ng-model="files"
             ngf-drag-over-cxlass="'dragover'"
             ngf-max-files="1"
             ngf-pattern="'image/*'"
             ngf-accept="'image/*'"
             ngf-max-size="$ctrl.maxSize"
             class="drop-zone"
             layout="row" layout-align="center center">

            <div class="loading" ng-show="$ctrl.showLoading">
                <div ng-show="$ctrl.progress == 100" class="processing">Обработка...</div>
                <i ng-show="$ctrl.progress < 100" class="material-icons"
                   ng-click="$ctrl.cancelUploading()">clear</i>
                <md-progress-circular class="md-hue-1" value="{{$ctrl.progress}}" md-diameter="140"></md-progress-circular>
            </div>

            <div class="add" ng-show="$ctrl.showDropButton">
                <md-button ngf-select="$ctrl.upload($files)"
                           ng-model="files"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-max-files="1"
                           ngf-max-size="$ctrl.maxSize"
                           class="md-raised add-photo"><span>Выберите фото</span></md-button>
                <div>или перетащите фото в эту область</div>
            </div>

        </div>
    </div>

</ng-form>
