@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

photo-single-upload
  display: block
  .photo-wrapper
    .remove-link, .image
      display: inline-block
      vertical-align: top
    .image
      margin-right: 1rem
      padding: 0.5rem
      span
        +size(200px 150px)
        display: inline-block
        background-repeat: no-repeat
        background-position: center
        background-size: contain
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.25)

  .drop-zone
    +size(200px 170px)
    transition: background-color ease 0.4s
    border: 3px dashed silver
    position: relative

    .add
      text-align: center
      padding: 1rem

    .processing
      +position(absolute, 50% null null 50%)
      transform: translateX(-50%) translateY(-50%)
    .material-icons
      transition: opacity ease-out 0.3s
      +position(absolute, 50% null null 50%)
      transform: translateX(-50%) translateY(-50%)
      font-size: 2rem
      color: #b40000
      opacity: 0.2
      z-index: 10
      cursor: pointer
      &:hover
        opacity: 1

    &.dragover
      background-color: #cecece
    md-progress-circular
      margin: 0 auto


