<div class="additem">
    <form name="form" ng-submit="trySubmit = true; $ctrl.add(form.$valid)" novalidate>
        <div layout="column" flex-xs="100" flex-sm="100" flex="70" layout-fill>
            <md-input-container>
                <label>Заголовок</label>
                <input ng-model="$ctrl.promoData.header" name="header" type="text" maxlength="100" required>
                <div ng-messages="form.header.$error">
                    <div ng-message="required">Это поле обязательное</div>
                </div>
            </md-input-container>

            <div
                md-color-picker
                ng-model="$ctrl.promoData.color"
                label="Выберите цвет"
                icon="brush"
                default="#f00"
                md-color-generic-palette="false"
                md-color-history="false"
            ></div>

            <md-input-container>
                <label>URL (без http)</label>
                <input ng-model="$ctrl.promoData.url" name="url" type="text">
            </md-input-container>

            <md-input-container>
                <label>Контент</label>
                <textarea name="content" ng-model="$ctrl.promoData.content" md-maxlength="350"></textarea>
            </md-input-container>

            <photo-single-upload ng-model="$ctrl.promoData.image" edit-mode="!!$ctrl.editId" endpoint="'/adm-service/promo/photo'" folder="'promo'" loading="photosLoading"></photo-single-upload>

            <div layout="row">
                <div>
                    <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true" ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || photosLoading">
                        <span ng-hide="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Добавить</span>
                            <span ng-show="$ctrl.loading">Добавляется...</span>
                        </span>
                        <span ng-show="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Сохранить изменения</span>
                            <span ng-show="$ctrl.loading">Изменения сохраняются...</span>
                        </span>
                    </md-button>
                </div>
                <div flex>
                    <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении формы. Пожалуйста, исправьте и кнопка станет активной.</div>
                </div>
            </div>
        </div>
    </form>
</div>
