<div class="wrap">
    <h1 class="page-head">Сброс пароля</h1>

    <div layout="row" layout-xs="column" layout-align="center">
        <div flex-xs="100" flex-sm="60" flex="40">
            <reset-password recaptcha-site-key="'<%=recaptchaSiteKey%>'"></reset-password>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
