<div class="wrap">
    <h1 class="page-head">Ошибка при восстановлении пароля</h1>

    <p>Мы не можем найти информацию для восстановления пароля. Пожалуйста, попробуйте еще раз.</p>

    <md-button href="/reset/password" target="_self" class="md-raised">Начать сначала</md-button>
</div>
