<h3>Мои статьи</h3>

<div ng-show="!$ctrl.articles.length && !$ctrl.query">
    <p>У Вас ещё нет статей</p>
    <div>
        <md-button class="md-raised" href="/article-add" target="_self">
            Добавить статью
        </md-button>
    </div>
</div>

<items-list page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.articles"
            total="$ctrl.total"
            delete-item="$ctrl.deleteArticle(id)"
            per-page="$ctrl.perPage"></items-list>
