<h3>Продукты</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query && !$ctrl.status">
    <p>У Вас ещё нет продуктов</p>
    <div>
        <md-button class="md-raised" href="/food-add" target="_self">
            Добавить продукт
        </md-button>
    </div>
</div>

<items-list get-page="$ctrl.getPage()"
            status="$ctrl.status"
            type="'food'"
            page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.foods"
            total="$ctrl.total"
            edit-item="$ctrl.editItem(id)"
            delete-item="$ctrl.deleteItem(id)"
            per-page="$ctrl.perPage"></items-list>
