<% if ((user && user.id == (advice.user._id || advice.user)) || (user && user.role === 'admin')) { %>
<section id="item-controls">
    <div class="item-controls frame">
        <div layout="row" layout-xs="column" layout-align="center center">
            <div flex>
                <md-button target="_self" href="/advice-add/<%= advice._id %>" class="md-raised">
                    <i class="material-icons">&#xE3C9;</i> <span>Редактировать</span>
                </md-button>

                <md-button href="/user-items/advices" target="_self" class="md-raised">
                    <i class="material-icons">&#xE037;</i> <span>К списку советов</span>
                </md-button>
            </div>
            <% if (user.role === 'admin') { %>
            <div>
                <status value="'<%= advice.status %>'" type="'advice'" item-id="'<%= advice._id %>'" confirm="'true'"></status>
            </div>
            <% } %>
        </div>
    </div>
</section>
<% } %>

<div class="advice wrap">
    <div class="negative-margin">
        <div layout="row" layout-xs="column" layout-sm="column" layout-margin>
            <div flex>
                <div class="breadcrumbs">
                    <%- breadcrumbs.map(function (breadcrumb) {
                        return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
                    }).join(' / '); %>
                </div>

                <h1>Полезный совет</h1>

                <div class="advice-user"><%- advice.user.firstname %> <%- advice.user.lastname %></div>

                <div class="advice-content"><%- advice.content %></div>

                <% if (advice.tags && advice.tags.length) { %>
                <div class="recipe-tags">
                    <h3>Теги</h3>
                    <% advice.tags.forEach(function(item) { %>
                    <a class="tag" href="/advices/bytag/<%=item.slug%>" target="_self"><%-item.tag%></a>
                    <% }) %>
                </div>
                <% } %>

                <% include ../../components/adv/yandex-rtb-horizontal.ejs %>

            </div>
            <% include ../../components/similar.items.ejs %>
        </div>
    </div>
</div>
