<div class="wrap">

    <% if (id) { %>
    <h1>Редактирование</h1>

    <advice-add edit-id="'<%=id%>'"></advice-add>

    <% } else { %>
    <h1>Добавить совет</h1>

    <advice-add></advice-add>
    <% } %>

</div>

