<% var paging = advices.paging %>
<div class="advices-list wrap">

    <div class="breadcrumbs">
        <%- breadcrumbs.map(function (breadcrumb) {
            return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
        }).join(' / '); %>
    </div>

    <h1><%= titleHead %></h1>

    <% include ../../components/search.form.ejs %>

    <% if (advices.data && advices.data.length) { %>
    <div class="items-list">
        <% advices.data.forEach(function(item) { %>
        <div class="item-col">
            <div class="item-card advice">
                <div class="item-card-title">
                    <a href="<%=Common.getAdviceUrl(item)%>" target="_self"><%= Common.truncate(item.content, 80)%></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div style="clear: both"></div>
    <div><% include ../../components/pagination.ejs %></div>
    <% } %>
</div>


