<h3>Комментарии</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query && !$ctrl.status">
    <p>Ещё нет комментариев</p>
    <div>
        <md-button class="md-raised" href="/comment-add" target="_self">
            Добавить комментарий
        </md-button>
    </div>
</div>


<items-list get-page="$ctrl.getPage()"
            status="$ctrl.status"
            type="'comment'"
            page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.comments"
            total="$ctrl.total"
            edit-item="$ctrl.editItem(id)"
            delete-item="$ctrl.deleteItem(id)"
            per-page="$ctrl.perPage"></items-list>
