@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'

status
  .wrapper
    +user-select(none)

    i.material-icons
      transition: 0.3s ease
      margin-right: 0.7rem
      color: silver
      cursor: pointer
      font-size: 2rem
      &.active
        cursor: default
      &.active.status-new
        color: orange
      &.active.status-approved
        color: green
      &.active.status-denied
        color: red
