<md-dialog class="login-popup" flex="100" ng-init="showComponent = 'login'">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-switch="showComponent">
                <span ng-switch-when="login">Вход на сайт</span>
                <span ng-switch-when="signup">Регистрация</span>
                <span ng-switch-when="reset-password">Восстановление пароля</span>
            </h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <div class="md-dialog-content">

        <login ng-show="showComponent === 'login'"
                  login-redir="$ctrl.redirUrl"
                  show-component="showComponent"></login>

        <sign-up
            ng-show="showComponent === 'signup'"
            recaptcha-site-key="$ctrl.recaptchaSiteKey"
            show-component="showComponent"></sign-up>

        <reset-password
            ng-show="showComponent === 'reset-password'"
            recaptcha-site-key="$ctrl.recaptchaSiteKey"
            show-component="showComponent"></reset-password>

    </div>
</md-dialog>

