<h3>Мои советы</h3>

<div ng-show="!$ctrl.advices.length && !$ctrl.query">
    <p>У Вас ещё нет советов</p>

</div>
<div>
    <md-button class="md-raised" href="/advice-add" target="_self">
        Добавить совет
    </md-button>
</div>
<items-list page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.advices"
            total="$ctrl.total"
            delete-item="$ctrl.deleteAdvice(id)"
            per-page="$ctrl.perPage"></items-list>
