<div class="wrap">
    <div class="user-page">

        <h1 class="page-head"><%=[userProfile.firstname, userProfile.lastname].join(' ')%></h1>

        <div layout="row" layout-xs="column" class="row-data">
            <div flex="30" flex-sm="50" flex-xs="100" class="cell-data">
                <% if (userProfile.avatarBlob) { %>
                <img style="max-width: 100%" src="/avatar/user/<%=userProfile.id%>.jpg" alt="">
                <% } %>

                <% if (user && user.id === userProfile.id) { %>
                <div>
                    <md-button class="md-raised" target="_self" href="/profile">Редактировать профиль</md-button>
                </div>
                <% } %>
            </div>

        </div>

    </div>
</div>
