<div ng-hide="$ctrl.resetSuccessful">
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.reset(model) : null" novalidate>
        <div layout="column">

            <md-input-container>
                <label>Email</label>
                <input ng-model="$ctrl.model.email" name="email" type="email" required>
                <div ng-messages="form.email.$error">
                    <div ng-message="required">Это поле обязательное</div>
                    <div ng-message="email">Введите действительный Email</div>
                </div>
            </md-input-container>

            <div class="g-recaptcha">
                <div
                    vc-recaptcha
                    theme="'light'"
                    key="$ctrl.recaptchaSiteKey"
                    on-create="$ctrl.setWidgetId(widgetId)"
                    on-success="$ctrl.setResponse(response)"
                    on-expire="$ctrl.cbExpiration()"
                ></div>
            </div>
            <div class="captcha-error" ng-show="form.$error.recaptcha && trySubmit">
                Пожалуйста, подтвердите, что вы не робот
            </div>

            <div class="error-box" ng-show="$ctrl.serverError">
                {{$ctrl.serverError}}
            </div>

            <div layout="row" layout-xs="column" layout-align="start center">
                <div flex="50" flex-xs="100" class="reset-button" layout-fill>
                    <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading" class="md-raised"
                               type="submit">Восстановить пароль
                    </md-button>
                </div>
                <div class="goto-login" flex="50" flex-xs="100">
                    <a href="/login" ng-hide="$ctrl.showComponent" target="_self">Перейти на страницу логина</a>
                    <span class="pseudo-link" ng-show="$ctrl.showComponent" ng-click="$ctrl.showComponent = 'login'">Перейти к форме логина</span>
                </div>
            </div>

        </div>
    </form>
</div>

<div ng-show="$ctrl.resetSuccessful">
    <h3>Мы отправили письмо на указанный Email с дальнейшими инструкциями для восстановления пароля</h3>
    <p>Пожалуйста, проверьте ящик и перейдите по ссылке указанной в письме. Ссылка будет работать 4 часа с момента этого запроса.</p>
    <div>
        <md-button class="md-raised" href="/login" target="_self" ng-hide="$ctrl.showComponent">
            Перейти на страницу логина
        </md-button>
        <md-button class="md-raised" ng-click="$ctrl.showComponent = 'login'" ng-show="$ctrl.showComponent">
            Перейти на страницу логина
        </md-button>
    </div>
</div>
