@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

.find
  .search
    margin-top: -1rem
    background-color: #eeeeee
    padding: 1rem 0
    .breadcrumbs
      font-size: 0.9rem
      margin-bottom: 1rem
    h1
      font-weight: bold
      text-transform: uppercase
      color: #a6a6a6
      line-height: 1.6rem
      margin-bottom: 0
      text-align: right
      @media (max-width: $layout-breakpoint-sm - 1)
        margin-bottom: 0.5rem
        text-align: left

  .filters-column
    padding-top: 1rem
    max-width: 12rem
    @media (max-width: $layout-breakpoint-xs - 1)
      max-width: 100%

  .cards.tile
    .card-container
      width: 33.3333333%
      @media (max-width: $layout-breakpoint-md - 1)
        width: 50%
      @media (max-width: $layout-breakpoint-sm - 1)
        width: 100%
      @media (max-width: $layout-breakpoint-xs - 1)
        width: 100%

    margin-bottom: 1rem
    .title
      font-size: 1.2rem
    .created
      margin-bottom: 0.5rem
    .price
      font-size: 1.4rem

  .welcome
    color: lighten($color-black, 30%)

  .pagination
    margin-bottom: 1rem

  section.map
    h3
      margin-bottom: 0.5rem
    margin-bottom: 1.3rem

  .total-count
    margin-bottom: 0.5rem

  .add
    margin-bottom: 1rem

  .article
    margin-bottom: 2rem

  .seo-article
    background-color: #f9f9f9
    padding: 1rem
    margin-bottom: 1rem
    position: relative
    .close-seo
      color: gray
      &:hover
        color: black
      position: absolute
      right: 0.5rem
      top: 0.5rem
      cursor: pointer
    .row-data
      .cell-data
        margin-bottom: 0
        .no-seo
          font-size: 2rem
          color: silver

        ul.info
          display: table
          li
            display: table-row
            div
              display: table-cell
              padding-bottom: 0.3rem
              &:first-child
                padding-right: 1rem
                color: lighten(black, 30%)
          .content
            color: gray


