<div class="recipe-card-wrapper">

    <a ng-href="{{$ctrl.recipe.url}}" target="_self">
        <div class="recipe-card-photo" ng-style="{'background-image':'url({{'/storage/cache/recipes/' + $ctrl.recipe.photo + '/350x350.jpg'}})'}">
            <button>Приготовить!</button>
            <span></span>
        </div>
    </a>

    <div class="recipe-card-title">
        <span><a ng-href="{{$ctrl.recipe.url}}" target="_self">{{$ctrl.recipe.title}}</a></span>
    </div>
    <div class="recipe-card-stars">
        <div>
            <stars rating="$ctrl.recipe.rating"
                   own-rating="$ctrl.recipe.ownRating"
                   item="$ctrl.recipe._id"
                   item-type="'recipe'"
            ></stars>
        </div>
    </div>
    <div class="recipe-card-user"><div class="recipe-card-user-inner"><avatar avatar-user="$ctrl.recipe.user"></avatar></div></div>

</div>

