@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../cssmodules/mixins/index'

recipe-card
  display: block
  border: 1px solid #dfdfdf
  text-align: center

  .recipe-card-photo
    min-height: 12rem
    background: no-repeat center center
    background-size: cover
    position: relative
    button, span
      font-family: Akrobat, serif
      font-size: 1.4rem
      transition: all 0.5s ease
      //font-weight: bold
    &:hover
      button, span
        opacity: 1
      button
        transform: translateX(-50%) translateY(-50%) scale(1)
    button
      opacity: 0
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%) scale(0)
      background: rgba(255, 138, 0, 0.3)
      border: 1px solid white
      padding: 0.6rem
      color: white
      text-transform: uppercase
      z-index: 1

    span
      opacity: 0
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background-color: rgba(255, 95, 18, 0.5)

  .recipe-card-title
    display: table
    width: 100%
    font-family: Akrobat,serif
    font-size: 1.6rem
    line-height: 1.6rem
    border-bottom: 1px solid #dfdfdf
    height: 5rem
    vertical-align: middle
    span
      display: table-cell
      vertical-align: middle
      padding-left: 0.5rem
      padding-right: 0.5rem

  .recipe-card-stars
    display: table
    width: 100%
    min-height: 3rem
    border-bottom: 1px solid #dfdfdf
    > div
      display: table-cell
      text-align: center
      vertical-align: middle
      padding-left: 0.5rem
      padding-right: 0.5rem


  .recipe-card-user
    display: table
    min-height: 3rem
    width: 100%
    .recipe-card-user-inner
      width: 100%
      display: table-cell
      text-align: center
      vertical-align: middle
      padding-left: 0.5rem
      padding-right: 0.5rem

