<div class="additem">
    <form name="form" ng-submit="trySubmit = true; $ctrl.sendForm(form.$valid)" novalidate>
        <div layout="column" flex-xs="100" flex-sm="100" flex="70" layout-fill>

            <div class="field">

                <h3><i class="material-icons">&#xE04B;</i> Видео с YouTube</h3>
                <video-edit ng-model="$ctrl.videos" hide-input-fields="true" max-items="1" name="ytVideo" required="true"></video-edit>

                <div ng-messages="form.ytVideo.$error" ng-if="form.description.$dirty || trySubmit">
                    <div ng-message="required">Видео - это обязательное поле</div>
                </div>

                <md-input-container>
                    <label>Название</label>
                    <input ng-model="$ctrl.videoData.title" name="title" type="text" maxlength="120" required>
                    <div ng-messages="form.title.$error">
                        <div ng-message="required">Это поле обязательное</div>
                        <div ng-message="maxlength">Значение поля слишком длинное</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <textarea placeholder="Описание" ng-model="$ctrl.videoData.description" name="description" required md-maxlength="3500" rows="2" md-select-on-focus></textarea>
                    <div ng-show="form.description.$dirty || trySubmit">
                        <div ng-messages="form.description.$error" class="md-input-invalid">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE896;</i> Категории видео</h3>
                <category ng-model="$ctrl.videoData.categories" name="categories"></category>
                <div ng-messages="form.$submitted && form.categories.$error">
                    <div ng-message="required">Категории - это обязательное поле</div>
                </div>
            </div>
            <div class="field">
                <h3><i class="material-icons">&#xE896;</i> Теги</h3>
                <!--{{$ctrl.videoData.tags}}-->
                <tag ng-model="$ctrl.videoData.tags" name="tags" required></tag>
                <div ng-messages="form.$submitted && form.tags.$error">
                    <div ng-message="required">Теги - это обязательное поле</div>
                </div>
            </div>

            <div layout="row" layout-align="center center">
                <div>
                    <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true" ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || photosLoading">
                        <span ng-hide="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Добавить видео</span>
                            <span ng-show="$ctrl.loading">Видео добавляется...</span>
                        </span>
                        <span ng-show="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Сохранить изменения</span>
                            <span ng-show="$ctrl.loading">Изменения сохраняются...</span>
                        </span>
                    </md-button>
                </div>
                <div flex>
                    <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении формы. Пожалуйста, исправьте и кнопка станет активной.</div>
                </div>
            </div>
        </div>
    </form>
</div>
