<h3>Рецепты</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query && !$ctrl.status">
    <p>Ещё нет рецептов</p>
    <div>
        <md-button class="md-raised" href="/recipe-add" target="_self">
            Добавить рецепт
        </md-button>
    </div>
</div>

<items-list type="'recipe'"
            get-page="$ctrl.getPage()"
            status="$ctrl.status"
            page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.recipes"
            total="$ctrl.total"
            edit-item="$ctrl.editItem(id)"
            delete-item="$ctrl.deleteItem(id)"
            per-page="$ctrl.perPage"></items-list>
