@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

video-edit

  .video-wrapper
    +frameWithShadow()
    @media screen and (max-width: $layout-breakpoint-xs)
      margin: 0 auto
      max-width: 300px

  .add-button


  .video-without-content
    margin-bottom: 1rem
    .video-wrapper
      margin-bottom: 0.8rem

