<div ng-hide="$ctrl.hideInputFields" ng-repeat="item in $ctrl.youtubeItems" layout="row" layout-xs="column" class="items-container">
    <div flex="40" flex-xs="100">
        <div class="video-wrapper">
            <div class="youtube-responsive">
                <youtube-video video-id="item.youtubeId" player-vars="{ showinfo: 0 }"></youtube-video>
            </div>
        </div>
    </div>
    <div flex>
        <div class="controls">
            <span class="pseudo-link" ng-click="$ctrl.remove(item)">Удалить</span>
        </div>
        <md-input-container class="md-block">
            <label>Описание видео</label>
            <textarea ng-model="item.title" md-maxlength="150" maxlength="150" rows="3" md-select-on-focus></textarea>
        </md-input-container>
    </div>
</div>

<div ng-show="$ctrl.hideInputFields" ng-repeat="item in $ctrl.youtubeItems" layout="column" class="video-without-content">
    <div flex>
        <div class="video-wrapper">
            <div class="youtube-responsive">
                <youtube-video video-id="item.youtubeId" player-vars="{ showinfo: 0 }"></youtube-video>
            </div>
        </div>
        <div class="controls">
            <span class="pseudo-link" ng-click="$ctrl.remove(item)">Удалить</span>
        </div>
    </div>
</div>

<div class="add-button" ng-hide="$ctrl.maxItems && (($ctrl.youtubeItems.length + 1) > $ctrl.maxItems)">
    <md-button class="md-raised add-video" ng-click="$ctrl.showAdd()"><span>Выберите видео</span></md-button>
</div>
