@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../cssmodules/mixins/index'

stars
  display: block
  .star-icon
    cursor: pointer
    font-size: 1.7rem
    color: darkorange
    +size(1.7rem)
    display: inline-block
    transition: all 0.3s ease

    &.star-set:after
      transform-origin: center center
      transform: scale(1.4)

    &:after
      content: '\E838'
      opacity: 0.2

    &:before, &:after
      position: absolute
      font-family: "Material Icons"
      transition: all 0.5s ease


    &.star-border:before
      content: '\E83A'
    &.star:before
      content: '\E838'
    &.star-half:before
      content: '\E839'


    &.star-hover:after, &.star-own:after
      color: #c03b00
      opacity: 1


