<% var paging = videos.paging %>
<div class="videos-list wrap">

    <div class="breadcrumbs">
        <%- breadcrumbs.map(function (breadcrumb) {
            return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
        }).join(' / '); %>
    </div>

    <h1><%= titleHead %></h1>

    <% include ../../components/search.form.ejs %>

    <% if (videos.data && videos.data.length) { %>
    <div class="items-list">
        <% videos.data.forEach(function(item) { %>
        <div class="item-col">
            <div class="item-card video">
                <a href="<%=Common.getVideoUrl(item)%>" target="_self">
                <div class="item-card-image">
                    <img src="http://img.youtube.com/vi/<%-item.video_id%>/mqdefault.jpg">
                </div>
                </a>
                <div class="item-card-title">
                    <a href="<%=Common.getVideoUrl(item)%>" target="_self"><%-item.title%></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div style="clear: both"></div>
    <div><% include ../../components/pagination.ejs %></div>
    <% } %>
</div>


