<% if ((user && user.id == (video.user._id || video.user)) || (user && user.role === 'admin')) { %>
<section id="item-controls">
    <div class="item-controls frame">
        <div layout="row" layout-xs="column" layout-align="center center">
            <div flex>
                <md-button target="_self" href="/video-add/<%= video._id %>" class="md-raised">
                    <i class="material-icons">&#xE3C9;</i> <span>Редактировать</span>
                </md-button>

                <md-button href="/adm-service/adm-items/videos" target="_self" class="md-raised">
                    <i class="material-icons">&#xE037;</i> <span>К списку видео</span>
                </md-button>
            </div>
            <% if (user.role === 'admin') { %>
            <div>
                <status value="'<%= video.status %>'" type="'video'" item-id="'<%= video._id %>'" confirm="'true'"></status>
            </div>
            <% } %>
        </div>
    </div>
</section>
<% } %>

<div class="video wrap">

    <div class="negative-margin">

        <div layout="row" layout-xs="column" layout-sm="column" layout-margin>
            <div flex>
                <div class="breadcrumbs">
                    <%- breadcrumbs.map(function (breadcrumb) {
                        return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
                    }).join(' / '); %>
                </div>

                <h1><%- video.title %></h1>

                <div class="item-user">Видео добавлено <%- Common.formatCreatedDate(video.createdAt) %></div>

                <% include ../../components/share.buttons.ejs %>
                <% include ../../components/star.rating.video.ejs %>

                <div class="video-description"><%- video.description %></div>

                <div>
                    <iframe width="560" height="400" src="https://www.youtube.com/embed/<%- video.video_id %>"
                            frameborder="0" allowfullscreen></iframe>
                </div>

                <p>
                    <% video.categories && video.categories.length && video.categories.forEach(function(item, index) { %>
                    <span class="tag"><%- item.title %></span>
                    <% }) %>
                </p>

                <% if (video.tags && video.tags.length) { %>
                <div class="item-tags">
                    <h3>Теги</h3>
                    <% video.tags.forEach(function(item) { %>
                    <a class="tag" href="/videos/bytag/<%=item.slug%>" target="_self"><%-item.tag%></a>
                    <% }) %>
                </div>
                <% } %>
                <% include ../../components/share.buttons.ejs %>
                <% include ../../components/star.rating.video.ejs %>
                <% include ../../components/adv/yandex-rtb-horizontal.ejs %>

            </div>
            <% include ../../components/similar.items.ejs %>
        </div>
    </div>

</div>

<% include ../../components/share.buttons.code.ejs %>
