<div class="wrap">

    <% if (id) { %>
    <h1>Редактирование видео</h1>

    <video-add edit-id="'<%=id%>'"></video-add>

    <% } else { %>
    <h1>Добавить видео</h1>

    <video-add></video-add>
    <% } %>

</div>

