<footer>
    <div class="wrap">
        <div layout="row" layout-xs="column" layout-sm="column">
            <div flex>
                <%
                switch ((typeof footer !== 'undefined') && footer)
                {
                    case 'find': %><% include footer-find.ejs %><% break;
                    default: %><% include footer-common.ejs %><% break;
                }
                %>
            </div>
            <div>
                <div class="counter"><% include counter.ejs%></div>
                <div class="copyright">Zavtraka.net ©2008-<%= moment().format('YYYY'); %></div>
                <div class="fs-07 agreement">
                    <a href="/agreement" target="_self">Соглашение об использовании</a>
                </div>
            </div>
        </div>
    </div>
</footer>
