<footer>
    <div class="wrap" style="margin-bottom: 1rem">
        <div layout="row" layout-xs="column" layout-sm="column" layout-align="end center">
            <div class="copyright">Zavtraka.net ©2008-<%= moment().format('YYYY'); %></div>
        </div>
    </div>
</footer>
