<div layout="row" layout-xs="column" class="footer-panels">

    <div class="panel blue">
        <h5>Быстрые ссылки</h5>
        <ul>
            <li><a href="/" target="_self">Главная</a></li>
            <li><a href="/recipe-add" target="_self">Добавить рецепт</a></li>
            <li><a href="/advice-add" target="_self">Добавить совет</a></li>
            <li><a href="/articles" target="_self">Блог</a></li>
            <li><a href="/advices" target="_self">Советы</a></li>
            <li><a href="/parts/kuhonnye_prinadlezhnosti/" target="_self">Кухонные принадлежности</a></li>
            <li><a href="/parts/tehnika_dlja_kuhni/" target="_self">Техника для кухни</a></li>
        </ul>
    </div>

    <div class="panel brown">
        <h5>Кулинарные рецепты</h5>
        <div layout="row">
            <ul>
                <li><a href="/recipes/" target="_self">Пошаговые рецепты с фото</a></li>
                <li><a href="/recipes/recepty_dlja_multivarki/" target="_self">Рецепты для мультиварки</a></li>
                <li><a href="/recipes/pervye_bljuda/" target="_self">Первые блюда</a></li>
                <li><a href="/recipes/vtorye_bljuda/" target="_self">Вторые блюда</a></li>
                <li><a href="/recipes/detskoe_pitanie/" target="_self">Детское питание</a></li>
                <li><a href="/recipes/nacionalnaja_kuhnja/" target="_self">Национальная кухня</a></li>
                <li><a href="/user/recipes.html?add=1" target="_self">Добавить рецепт</a></li>
                <li><a href="/recipes/bytag/" target="_self">Рецепты по тегам</a></li>
            </ul>
            <ul>
                <li><a href="/recipes/deserty/" target="_self">Десерты</a></li>
                <li><a href="/recipes/vypechka/" target="_self">Выпечка</a></li>
                <li><a href="/recipes/vegetarianskie_bljuda/" target="_self">Вегетарианские блюда</a></li>
                <li><a href="/recipes/prazdnichnye_bljuda/" target="_self">Праздничные блюда</a></li>
                <li><a href="/recipes/salaty/" target="_self">Салаты</a></li>
            </ul>
        </div>
    </div>
</div>
