<header>
    <ul layout="row">
        <li class="logo">
            <div>
                <div class="menu-button" ng-click="sideMenuOpened = !sideMenuOpened"><span>меню</span></div>
            </div>
            <div>
                <a href="/" target="_self">
                    <span class="logo-text">zavtraka<span class="thin">.net</span></span>
                    <span class="slogan">Завтрака нет? Приготовим!</span>
                </a>
            </div>
        </li>

        <li hide-xs class="right-part" layout="row" layout-align="end center" flex>
            <% if (user) { %>
            <div class="avatar">
                <a href="/profile" target="_self">
                    <% if (user && user.avatarBlob) { %>
                    <img src="/avatar/user/<%=user.id%>.jpg">
                    <% } else { %>
                    <span class="noimage"><span></span></span>
                    <% } %>
                </a>
            </div>
            <% } %>
            <ul class="social-networks">
                <li><a class="yt" href="https://www.youtube.com/user/zavtrakanet" target="_blank">&nbsp;</a></li><!--
             --><li><a class="vk" href="https://vk.com/zavtrakanet" target="_blank">&nbsp;</a></li><!--
             --><li><a class="ok" href="https://ok.ru/zavtrak" target="_blank">&nbsp;</a></li><!--
             --><li><a class="fb" href="https://www.facebook.com/zavtrakanet" target="_blank">&nbsp;</a></li>
            </ul>
        </li>
    </ul>
</header>
