<nav>
    <ul layout="row" layout-align="end center"><!--
        --><% nav.forEach(function(item) { %><li class="navbar-item"<%= item.attr %>><a href="<%= item.url %>" target="_self" class="<%= item.active ? 'active' : '' %>"><%= item.title %></a></li><% }) %><!--
    --></ul>
</nav>
