<% if (user && user.role === 'admin') { %>
<nav class="adm">
    <ul layout="row"><!--
        --><li class="navbar-item"><a href="/adm-service/adm-items/recipes" target="_self">Публикации</a></li><!--
        --><li class="navbar-item"><a href="/video-add" target="_self">Добавить видео</a></li><!--
        --><li class="navbar-item"><a href="/article-add" target="_self">Добавить статью</a></li><!--
        --><li class="navbar-item"><a href="/adm-service/promo" target="_self">Промо</a></li><!--
        --><li class="navbar-item"><a href="/adm-service/users" target="_self">Пользователи</a></li><!--
    --></ul>
</nav>
<% } %>
