<section class="sidemenu" ng-class="{'side-menu-opened': sideMenuOpened}" ng-show="sideMenuOpened" layout="row">
    <div class="sidemenu-container">
        <div class="close">
            <i ng-click="sideMenuOpened = !sideMenuOpened" class="material-icons">&#xE5CD;</i>
        </div>
        <ul>
            <li><a href="/recipes" target="_self">Рецепты</a></li>
            <li><a href="/articles" target="_self">Блог</a></li>
            <li><a href="/videos" target="_self">Видеорецепты</a></li>
            <li><a href="/advices" target="_self">Советы</a></li>
        </ul>
    </div>
    <div class="sidemenu-backdrop" ng-click="sideMenuOpened = !sideMenuOpened"></div>
</section>
