<% if ((user && user.id == (article.user._id || article.user)) || (user && user.role === 'admin')) { %>
<section id="item-controls">
    <div class="item-controls frame">
        <div layout="row" layout-xs="column" layout-align="center center">
            <div flex>
                <md-button target="_self" href="/article-add/<%= article._id %>" class="md-raised">
                    <i class="material-icons">&#xE3C9;</i> <span>Редактировать</span>
                </md-button>

                <md-button href="/adm-service/adm-items/articles" target="_self" class="md-raised">
                    <i class="material-icons">&#xE037;</i> <span>К списку статей</span>
                </md-button>
            </div>
            <% if (user.role === 'admin') { %>
            <div>
                <status value="'<%= article.status %>'" type="'article'" item-id="'<%= article._id %>'" confirm="'true'"></status>
            </div>
            <% } %>
        </div>
    </div>
</section>
<% } %>

<div class="article wrap">
    <div class="negative-margin">
        <div layout="row" layout-xs="column" layout-sm="column" layout-margin>
            <div flex>
                <div hide-sm hide-xs style="overflow: hidden">
                <% include ../../components/adv/topadvert.horizontal.ejs %>
                </div>

                <div class="breadcrumbs">
                    <%- breadcrumbs.map(function (breadcrumb) {
                        return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
                    }).join(' / '); %>
                </div>

                <h1 class="item-head"><%-article.title%></h1>

                <div class="item-user">
                    Статья добавлена <%-Common.formatCreatedDate(article.createdAt)%>
                </div>

                <% include ../../components/share.buttons.ejs %>

                <% include ../../components/star.rating.article.ejs %>

                <div class="article-content"><%- article.content %></div>

                <div id="DIV_DA_1902423" hide-xs hide-sm style="margin-bottom: 2rem"></div>

                <% if (article.tags && article.tags.length) { %>
                <div class="item-tags">
                    <h3>Теги</h3>
                    <% article.tags.forEach(function(item) { %>
                    <a class="tag" href="/articles/bytag/<%=item.slug%>" target="_self"><%-item.tag%></a>
                    <% }) %>
                </div>
                <% } %>

                <% include ../../components/share.buttons.ejs %>

                <% include ../../components/star.rating.article.ejs %>

                <% include ../../components/adv/yandex-rtb-horizontal.ejs %>

                <% if (comments && comments.length) { %>
                <div class="comments">
                    <h3>Комментарии</h3>
                    <% comments.forEach(function(comment, index) { %>
                    <div class="comment-wrapper">
                        <div class="comment-user">
                            <%-comment.userData && comment.userData.name%>
                        </div>
                        <div class="comment-content">
                            <%-comment.comment%>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <% } %>

            </div>
            <% include ../../components/similar.items.ejs %>
        </div>
    </div>
</div>
<% include ../../components/share.buttons.code.ejs %>
<% include ../../components/adv/topadvert.code.ejs %>
