<% var paging = articles.paging %>
<div class="articles-list wrap">

    <div class="breadcrumbs">
        <%- breadcrumbs.map(function (breadcrumb) {
            return breadcrumb.url ? '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>' : breadcrumb.title;
        }).join(' / '); %>
    </div>

    <h1><%= titleHead %></h1>

    <% include ../../components/search.form.ejs %>

    <% if (articles.data && articles.data.length) { %>
    <div class="items-list">
        <% articles.data.forEach(function(item) { %>
        <div class="item-col">
            <div class="item-card article">
                <% if (item.photos && item.photos.length) { %>
                <a href="<%=Common.getArticleUrl(item)%>" target="_self">
                    <div class="item-card-image">
                        <img src="/storage/cache/articles/<%=item.photos[0]._id%>/300x290.jpg" alt="<%=item.photos[0].description%>" title="<%=item.photos[0].description%>">
                    </div>
                </a>
                <% } %>
                <div class="item-card-title">
                    <a href="<%=Common.getArticleUrl(item)%>" target="_self"><%-item.title%></a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div style="clear: both"></div>
    <div><% include ../../components/pagination.ejs %></div>
    <% } %>
</div>


