<div class="wrap">

    <% if (id) { %>
    <h1>Редактирование</h1>

    <article-add edit-id="'<%=id%>'"></article-add>

    <% } else { %>
    <h1>Добавить статью</h1>

    <article-add></article-add>
    <% } %>

</div>

