@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

$headerFontColor: #5c5c5c

.add-form

  .contacts-data
    border: 4px solid #eeeeee
    margin-bottom: 1rem
    padding: 0.7rem

  .field
    position: relative
    margin-bottom: 1.5rem
    padding-bottom: 1.5rem
    box-shadow: 0 20px 25px -22px rgba(0,0,0,0.2)
    border-bottom: 1px solid #e0e0e0
    h4
      font-weight: normal
      color: $headerFontColor
      font-size: 0.9rem
      margin-bottom: 0.3rem


  h3
    margin-top: 0
    font-size: 1.1rem
    font-weight: normal
    margin-bottom: 1rem
    color: $headerFontColor
    i.material-icons
      margin-right: 0.3rem
      vertical-align: middle
      font-size: 1.4rem
      color: #8c8c8c

  .location
    h4
      margin-bottom: -0.5rem
      margin-top: 1rem

  .contacts
    padding-bottom: 1rem

  [ng-messages]
    color: red

  md-input-container
    width: 100%

  %icon
    +size(25px)
    display: inline-block
    content: ''
    vertical-align: middle
    margin-right: 0.3rem

  .add-photo
    &:before
      @extend %icon
      +image-icon()

  .add-video
    &:before
      @extend %icon
      +youtube-icon()

