@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

.article
  .article-content
    img, iframe
      max-width: 100%
      height: 300px
    img
      height: auto

  .article-rating
    margin-bottom: 1rem
    font-size: 0.9rem
    color: gray
