.comments
  font-size: 0.9rem
  .comment-wrapper
    background-color: #f5f7fa
    padding: 1rem
    margin-bottom: 0.5rem

    .comment-content
    .comment-user
      margin-bottom: 0.3rem
      font-size: 0.85rem
      font-weight: 700
