@import "../vars"
footer
  .caption
    margin-bottom: 0.3rem
    font-size: 0.8rem
  box-shadow: inset 0px 60px 51px -41px rgba(0,0,0,0.6)
  font-size: 0.85rem
  padding-top: 1rem
  background: url('/images/footerbg.jpg')
  background-size: cover
  color: black

  .counter
    margin-bottom: 0.5rem
  .copyright
    margin-bottom: 0.5rem
  .agreement
    margin-bottom: 0.5rem
  .age
    border-radius: 50%
    padding: 1px
    background-color: black
    color: #ffffff
  a
    color: black


  .footer-panels
    .panel
      margin-right: 1rem
      @media (max-width: $layout-breakpoint-xs - 1)
        margin-right: 0
      &:last-child
        margin-right: 0


  .panel
    h3, h4, h5
      margin-bottom: 0.5rem
    padding: 1rem
    margin-bottom: 1rem
    display: inline-block
    ul
      margin-right: 1rem
      &:last-child
        margin-right: 0
    a
      color: white
      &:hover
        color: rgba(255, 255, 255, 0.81)
    h3, h4, h5
      color: rgba(255, 255, 255, 0.65)

    &.blue
      background-color: rgba(8, 8, 35, 0.6)
    &.brown
      background-color: rgba(106, 41, 0, 0.6)


