@import '../bourbon/bourbon'
@import '../vars'
@import '../../cssmodules/mixins/index'

header

  > ul
    overflow: hidden
    display: block
    background: url('/images/topbg.jpg')
    background-size: cover
    height: 90px
    padding: 0
    margin: 0

  li.right-part
    white-space: nowrap
    padding-right: 1rem
    padding-left: 1rem

    div.avatar
      margin-right: 1rem
      +user-avatar(50px)
      a:hover
        &:after
          opacity: 1
      a:after
        content: ''
        position: absolute
        +size(100%)
        top: 0
        left: 0
        display: inline-block
        background-color: rgba(255, 255, 255, 0.31)
        border-radius: 50%
        opacity: 0
        transition: opacity 0.3s ease


    ul.social-networks
      li
        margin-right: 5px
        display: inline-block
        +size(40px)
        a
          display: block
          +size(40px)
          background: url('/images/social_icons.png')
          transition: transform 0.2s ease
          &:hover
            transform: scale(1.1)
          &.vk
            background-position: -40px 0
          &.ok
            background-position: -80px 0
          &.fb
            background-position: -120px 0
        &:last-child
          margin-right: 0

  li.logo
    white-space: nowrap
    font-size: 0.85rem
    color: white
    background-color: rgba(0, 0, 0, 0.5)
    box-sizing: border-box
    padding-left: 1rem
    padding-right: 1rem
    padding-top: 0.8rem
    div
      display: inline-block
      vertical-align: middle
      .menu-button
        margin-right: 0.5rem
        cursor: pointer
        text-align: center
        border: 1px solid rgba(255, 255, 255, 0.1)
        transition: border 0.4s ease
        &:hover
          border: 1px solid rgba(255, 255, 255, 0.8)
        &:before
          margin-bottom: -0.5rem
          display: block
          font-family: "Material Icons"
          content: '\E3C7'
          color: white
          font-size: 2.2rem
        span
          font-size: 0.8rem
          display: block
      a
        display: inline-block
        text-transform: uppercase
        font-family: 'Akrobat'
        text-align: center
        color: white
        span.logo-text
          font-size: 2.4rem
          line-height: 2.5rem
          display: block
          font-weight: 700
          span.thin
            font-weight: 300
        span.slogan
          font-weight: 700
          text-transform: none
          display: block
          color: orange
          font-size: 1rem


