.recipes-list, .videos-list
  h1
    margin-bottom: 3rem

.items-list
  & + span
    margin-bottom: 2rem
  .item-col
    margin-bottom: 1rem
    width: 25%
    float: left
    vertical-align: top
    text-align: center
    @media (max-width: $layout-breakpoint-md - 1)
      width: 25%
    @media (max-width: $layout-breakpoint-sm - 1)
      width: 33.333333%
    @media (max-width: $layout-breakpoint-xs - 1)
      width: 100%

    .item-card
      box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2)
      margin-left: 0.5rem
      margin-right: 0.5rem


      .item-card-image
        position: relative
        height: 145px
        min-height: 145px
        overflow: hidden
        img
          margin: auto
          width: 100%
        &:after
          transition: all 0.4s ease
          content: ''
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          z-index: 5
        &:hover:after
          background-color: rgba(0, 0, 0, 0.2)

      .item-card-title
        height: 100px
        overflow: hidden
        padding: 0.5rem

.items-list + div
    margin-bottom: 2rem
