.item-head
  margin-bottom: 0.5rem

.item-user
  color: #444
  margin-bottom: 1rem
  font-size: 0.9rem

.item-tags, .item-categories
  color: #444
  margin-bottom: 1rem
  h3
    margin-bottom: 0.6rem
    font-size: 1.3rem

