@import '../bourbon/bourbon'
@import '../vars'
@import '../../cssmodules/mixins/index'

$item-height: 2.1rem

.items-menu
  margin-bottom: 2.3rem
  li
    height: $item-height
    $border-color: #606060
    background-color: #efefef
    display: inline-block
    border-right: 2px solid white
    border-bottom: 2px solid white
    position: relative
    .notify
      z-index: 10
      font-weight: bold
      background-color: #e40000
      border-radius: 0.7rem
      padding: 3px
      color: white
      position: absolute
      top: -7px
      right: -3px
      display: inline-block
      line-height: 0.7rem
      font-size: 0.7rem
      border: 2px solid white
    a
      $padding: 1rem
      transition: all 0.4s ease
      &:hover
        background-color: #e58a00
        color: white
      &.active
        background-color: #BF360C
        color: white
      display: block
      line-height: $item-height
      height: $item-height
      padding-left: $padding
      padding-right: $padding
      span
        font-size: 0.8rem
