@import '../bourbon/bourbon'
@import '../vars'
@import '../mixins/index'

nav
  position: relative
  z-index: 3
  &.adm
    margin-top: -0.5rem
    ul
      background-color: rgba(0, 0, 0, 0.6)
      a
        color: white
        &:after
          background-color: #FFAD00
        &:hover
          color: #FFAD00
  white-space: nowrap
  display: block
  font-size: 1.2rem
  background: url('/images/topbg.jpg')
  background-size: cover
  font-family: Akrobat
  font-weight: 700
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25)
  margin-bottom: 0.5rem
  ul
    width: 100%
    padding-left: 1rem
    padding-right: 1rem
    background-color: rgba(255, 255, 255, 0.8)
    li
      &:last-child
        margin-right: 0
      margin-right: 1rem
      display: inline-block
      position: relative
      overflow: hidden
      a
        display: block
        line-height: 2.2rem
        &:after
          transition: all 0.3s ease
          content: ''
          background-color: #aa0000
          position: absolute
          height: 3px
          bottom: -3px
          left: 0
          width: 100%
          display: block
        &:hover
          color: #aa0000
          &:after
            bottom: 0

