@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

.recipe

  img, iframe
    max-width: 100%
    height: 300px
  img
    height: auto

  .recipe-user, .recipe-date, .recipe-tags, .recipe-categories, .recipe-comments
    margin-bottom: 1rem

  .recipe-comments
    margin-top: 2rem

  .recipe-description
    font-size: 1.1rem
    margin-bottom: 1rem

  .recipe-ingredients
    h3
      color: #843f00
      font-size: 1.3rem
      margin-bottom: 0.2rem
    margin-bottom: 1rem

  .recipe-step
    background-color: #f3f3f3
    border-radius: 8px
    padding: 1rem
    margin-bottom: 1rem
    h2, h3, h4
      margin-bottom: 0.2rem

  .recipe-photos
    img
      display: block
      margin: 0 auto
      max-width: 500px
      width: 100%
      margin-bottom: 1rem

  .recipe-videos
    h4
      margin-bottom: 0.5rem
    width: 100%

    .recipe-video-item
      margin-bottom: 2rem

    .embed-responsive
      position: relative
      display: block
      height: 0
      padding: 0
      overflow: hidden

    .embed-responsive.embed-responsive-16by9
      padding-bottom: 56.25%

    .embed-responsive-item
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 100%
      height: 100%
      border: 0




