.search-form
  background-color: orangered
  padding: 3px
  margin-bottom: 2rem
  input
    box-shadow: inset 0 2px 23px -10px rgba(0,0,0,0.75)
    padding-right: 0.5rem
    padding-left: 0.5rem
    font-size: 1.2rem
  input, button
    line-height: 2rem
    border: none
  button
    border: none
    border-left: 1px solid #dcdcdc
    background-color: #eaeaea
    color: #333
    padding-right: 1rem
    padding-left: 1rem
    cursor: pointer
    transition: all 0.4s ease
    span
      position: relative
    &:hover
      background-color: white
    &:active
      span
        top: 1px

