@import '../bourbon/bourbon'
@import '../vars'
@import '../mixins/index'

.sidemenu
  -webkit-filter: blur(0)
  top: 0
  left: 0
  width: 100%
  height: inherit
  background-color: rgba(0, 0, 0, 0.2)
  position: fixed
  z-index: 5
  cursor: pointer
  transition: opacity 0.3s ease
  overflow-y: auto
  &.ng-hide
    opacity: 0
  &.side-menu-opened
    .sidemenu-container
      transform: translateX(0)

  .sidemenu-container
    //overflow-y: scroll
    cursor: default
    top: 0
    left: 0
    position: absolute
    font-family: Akrobat
    font-weight: 700
    font-size: 1.2rem
    transition: transform 0.3s ease
    box-sizing: border-box
    width: 250px
    color: rgba(255, 255, 255, 0.81)
    background-color: rgba(55, 13, 0, 0.93)
    transform: translateX(-100%)
    min-height: 100%
    z-index: 10
    padding: 0 1rem 1rem
    a
      color: rgba(255, 255, 255, 1)
      &:hover
        color: #ffc800
    ul
      li
        margin-bottom: 0.5rem
    div.close
      text-align: right
      i
        transition: color 0.3s ease
        margin-right: -1rem
        cursor: pointer
        font-size: 1.8rem
        color: rgba(255, 255, 255, 0.5)
        &:hover
          color: rgba(255, 255, 255, 1)

  .sidemenu-backdrop
    width: 100%
    min-height: 100%


body.side-menu-opened
  overflow: hidden
