@import '../bourbon/bourbon'
@import '../vars'
ul.social
  li
    background: url('/images/social.png') no-repeat
    +size(45px 45px)
    display: inline-block
    margin-right: 5px
    a
      display: block
      +size(45px 45px)
      text-decoration: none
  li.facebook
    background-position: -45px 0
  li.google
    background-position: -180px 0
  li.vkontakte
    background-position: 0 0
  li.odnoklassniki
    background-position: -225px 0
  li.twitter
    background-position: -135px 0
  li.instagram
    background-position: -90px 0
