text-angular
  .btn
    display: inline-block
    cursor: pointer
    background-color: white
    border: none
    color: #656565
    padding: 10px
    position: relative
    &.active
      background-color: #dfdfdf
    &:active
      top: 1px
  .btn-group
    margin-bottom: 5px
    margin-left: 5px
    position: relative
    display: inline-block
    vertical-align: middle

  .ta-text.ta-editor
    border: 1px solid #d0d0d0
  textarea
    width: 100%
