@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

.video

  img, iframe
    max-width: 100%
    height: 300px
  img
    height: auto

  .video-user, .video-date
    margin-bottom: 1rem

  .video-description
    font-size: 1.2rem
    margin-bottom: 1rem

  .video-ingredients
    background-color: #ededed
    padding: 1rem
    margin-bottom: 1rem

  .video-step
    border: 1px solid #dfdfdf
    border-radius: 1rem
    padding: 1rem
    margin-bottom: 1rem
    h4
      color: steelblue
      margin-bottom: 0.2rem

  .video-photos
    img
      width: 100%
