<h3>Теги</h3>

<div ng-show="!$ctrl.recipes.length && !$ctrl.query && !$ctrl.status">
    <p>Ещё нет тегов</p>
    <div>
        <md-button class="md-raised" href="/tag-add" target="_self">
            Добавить тег
        </md-button>
    </div>
</div>


<items-list get-page="$ctrl.getPage()"
            status="$ctrl.status"
            type="'tag'"
            page="$ctrl.page"
            query="$ctrl.query"
            items="$ctrl.tags"
            total="$ctrl.total"
            edit-item="$ctrl.editItem(id)"
            delete-item="$ctrl.deleteItem(id)"
            per-page="$ctrl.perPage"></items-list>
