<md-dialog flex="50" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Изменение</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.save() : null; " novalidate>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <input placeholder="Тег" name="tag" maxlength="50" ng-model="$ctrl.tag.tag" required>
                        <div ng-messages="form.tag.$error">
                            <div ng-message="required">Это поле обязательное</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div flex>
                <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении формы. Пожалуйста, исправьте и кнопка станет активной.</div>
            </div>
            <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || $ctrl.serverError"
                       class="md-raised md-primary"
                       type="submit">Сохранить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
