@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

promo-carousel
  display: block
  width: 100%
  position: relative
  overflow: hidden

  &:after
    content: ''
    display: inline-block
    position: absolute
    width: 200%
    height: 15%
    background-color: rgba(255, 255, 255, 1)
    bottom: -3%
    left: 0
    transform: rotate(-3deg) translateX(-10%)
    z-index: 3

  &:before
    top: -3%

  .wrapper
    position: relative
    transition: all 0.5s ease
    opacity: 0

  .wrapper.promo-show
    opacity: 1
    height: 500px

  .content
    width: 30%
    @media (max-width: $layout-breakpoint-sm - 1)
      width: 60%
    @media (max-width: $layout-breakpoint-xs - 1)
      width: 100%

    color: white
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.6)
    .text
      position: relative
      z-index: 4
      margin: 1rem
    .bg
      position: absolute
      transform: skewX(-10deg)
      content: ''
      display: inline-block
      top: 0
      left: -100%
      bottom: 0
      right: -10%
      z-index: 3

    h1
      line-height: 2.8rem
      margin: 0
      margin-bottom: 0.7rem
      margin-top: -2.6rem
      font-size: 3rem
      font-weight: 700

  ul.slides
    margin: 0
    padding: 0
    height: 100%
    width: 100%

    li
      .content
        cursor: pointer
        transition: color 0.3s ease
        h1
          transition: color 0.3s ease
          color: #ffffff
        &:hover
          color: #FFEE99
          h1
            color: #FFEE99

      &:first-child
        z-index: 3
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      overflow: hidden
      top: 0
      left: 0
      right: 0
      bottom: 0
      position: absolute
      display: inline-block
      background-color: #ededed
      transition: 0.5s ease
      &.shift-left
        transform: translateX(-100%)
      &.shift-right
        transform: translateX(100%)

  ul.buttons
    position: absolute
    z-index: 4
    bottom: 0.7rem
    right: 0.5rem
    li
      display: inline-block
      margin-right: 0.5rem
      border-radius: 50%
      +size(16px)
      border: 2px solid white
      background-color: rgba(0, 0, 0, 0.8)
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15)
      cursor: pointer
      transition: background 0.3s ease
      &.active
        background-color: #bf002d
      &:last-child
        margin-right: 0


