<div class="wrapper" ng-class="{'promo-show': $ctrl.promoShow}">
    <ul class="slides">
        <li ng-repeat="promo in $ctrl.promos"
            ng-click="$ctrl.next(true)"
            ng-class="{'shift-right': $index > $ctrl.activeSlide, 'shift-left': $index < $ctrl.activeSlide}"
            ng-style="{'background-image':'url({{'/storage/cache/promo/' + promo.image + '/1100x800.jpg'}})'}">
            <div ng-click="$ctrl.go($event, promo.url)">
                <div class="content">
                    <div class="text">
                        <h1>{{promo.header}}</h1>
                        <div>{{promo.content}}</div>
                    </div>
                    <span class="bg" style="background-color: {{promo.color}}"></span>
                </div>
            </div>
        </li>
    </ul>

    <ul class="buttons"><li ng-repeat="promo in $ctrl.promos" ng-click="$ctrl.activeSlide = $index" ng-class="{active: $ctrl.activeSlide == $index}"></li></ul>
</div>
