<div ng-repeat="step in $ctrl.steps" class="recipe-step">

    <step id="step{{$index}}" steps="$ctrl.steps" step="step" parent-controller="$ctrl" step-num="$index"></step>

</div>

<md-button class="md-raised" ng-click="$ctrl.addStep($ctrl.steps.length)">Добавить шаг</md-button>
