@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

recipe-steps

  .recipe-step
    &.ng-enter, &.ng-leave
      transition: 400ms ease all
      transform-origin: top
      display: block

    &.ng-leave.ng-leave-active, &.ng-enter
      opacity: 0

    &.ng-enter.ng-enter-active, &.ng-leave
      opacity: 1

  display: block

  step
    .step-controls
      margin-right: -1rem
      margin-left: -1rem
      margin-bottom: 1rem
      background-color: white
      padding: 0.5rem
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2)
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      li
        font-size: 0.9rem
        i
          font-size: 1rem
        display: inline-block
        margin-right: 1rem

    margin-bottom: 1.5rem
    display: block
    overflow: hidden
    padding: 0 1rem 1rem
    background-color: #f8f8f8
    border-radius: 10px
    border: 3px solid #e2e2e2

    h4.step-header
      font-size: 1.5rem

    .step-field
      margin-bottom: 1.5rem


