<ul class="step-controls">
    <li>
        <span class="pseudo-link" ng-click="$ctrl.removeStep($ctrl.stepNum)"><i class="material-icons">delete</i> удалить</span>
    </li>
    <li>
        <span class="pseudo-link" ng-click="$ctrl.parentController.addStep($ctrl.stepNum)"><i class="material-icons">vertical_align_top</i> добавить шаг перед</span>
    </li>
    <li>
        <span class="pseudo-link" ng-click="$ctrl.parentController.addStep($ctrl.stepNum + 1)"><i class="material-icons">vertical_align_bottom</i> добавить шаг после</span>
    </li>
    <li>
        <span ng-show="!folded">
            <span class="pseudo-link" ng-click="folded = true"><i class="material-icons">keyboard_arrow_down</i> свернуть</span>
        </span>
        <span ng-show="folded">
            <span class="pseudo-link" ng-click="folded = false"><i class="material-icons">keyboard_arrow_right</i> развернуть</span>
        </span>
    </li>
</ul>

<h4 class="step-header">Шаг номер {{$ctrl.stepNum + 1}}</h4>

<div ng-show="!folded">

    <md-input-container>
        <textarea placeholder="Описание действия шага номер {{$ctrl.stepNum + 1}}" ng-model="$ctrl.step.description" required md-maxlength="1000" rows="2" md-select-on-focus></textarea>
    </md-input-container>

    <div>
        <h3><i class="material-icons">&#xEB47;</i> Ингредиенты</h3>
        <recipe-ingredients ng-model="$ctrl.step.ingredients"></recipe-ingredients>
    </div>

    <div class="step-field">
        <h3><i class="material-icons">&#xE251;</i> Фото шага номер {{$ctrl.stepNum + 1}}</h3>
        <photo ng-model="$ctrl.step.photos" type="'recipe'" edit-mode="$ctrl.parentController.editId ? true : false" loading="photosLoading"></photo>
    </div>

</div>
