<ul class="items-menu">
    <li>
        <a ui-sref="adm-recipes" ui-sref-active="active">
            Рецепты <span>{{$ctrl.counts.recipes}}</span> <span class="notify" ng-show="$ctrl.counts.recipesNew">{{$ctrl.counts.recipesNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-articles" ui-sref-active="active">
            Статьи <span>{{$ctrl.counts.articles}}</span> <span class="notify" ng-show="$ctrl.counts.articlesNew">{{$ctrl.counts.articlesNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-advices" ui-sref-active="active">
            Советы <span>{{$ctrl.counts.advices}}</span> <span class="notify" ng-show="$ctrl.counts.advicesNew">{{$ctrl.counts.advicesNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-videos" ui-sref-active="active">
            Видео <span>{{$ctrl.counts.videos}}</span> <span class="notify" ng-show="$ctrl.counts.videosNew">{{$ctrl.counts.videosNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-tags" ui-sref-active="active">
            Теги <span>{{$ctrl.counts.tags}}</span> <span class="notify" ng-show="$ctrl.counts.tagsNew">{{$ctrl.counts.tagsNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-foods" ui-sref-active="active">
            Продукты <span>{{$ctrl.counts.foods}}</span> <span class="notify" ng-show="$ctrl.counts.foodsNew">{{$ctrl.counts.foodsNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-measures" ui-sref-active="active">
            Единицы измерения <span>{{$ctrl.counts.measures}}</span> <span class="notify" ng-show="$ctrl.counts.measuresNew">{{$ctrl.counts.measuresNew}}</span>
        </a>
    </li><!--
 --><li>
        <a ui-sref="adm-comments" ui-sref-active="active">
            Комментарии <span>{{$ctrl.counts.comments}}</span> <span class="notify" ng-show="$ctrl.counts.commentsNew">{{$ctrl.counts.commentsNew}}</span>
        </a>
    </li>
</ul>

<ui-view></ui-view>
