@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../../app/cssmodules/mixins/index'

adm-items
  .items-menu
    li
      background-color: #efefef
      a
        $padding: 0.5rem
        &:hover
          background-color: #da3d00
          color: white
        &.active
          background-color: #b52e2e
          color: white
        padding-left: $padding
        padding-right: $padding
        span
          font-size: 0.7rem
