<% if (paging.pagesCount > 1 ) { %>

<ul class="pagination">
<% pagination(paging.pageNum, paging.pagesCount).forEach(function(item) { %>
    <% if (item === '...') { %>
    <li><%=item%></li>
    <% } else { %>
    <li<% if (paging.pageNum === item) { %> class="active"<% } %>><a href="?<%=getLinkParams(item, queryParams)%>"<%- paging.html5Links ? '' : 'target="_self"'%>><%=item%></a></li>
    <% } %>
<% }) %>
</ul>

<%
}
function pagination(c, m) {
    var current = c,
        last = m,
        delta = 3,
        left = current - delta,
        right = current + delta + 1,
        range = [],
        rangeWithDots = [],
        l;

    for (let i = 1; i <= last; i++) {
        if (i == 1 || i == last || i >= left && i < right) {
            range.push(i);
        }
    }

    for (let i of range) {
        if (l) {
            if (i - l === 2) {
                rangeWithDots.push(l + 1);
            } else if (i - l !== 1) {
                rangeWithDots.push('...');
            }
        }
        rangeWithDots.push(i);
        l = i;
    }

    return rangeWithDots;
}

function getLinkParams(i, params) {
    var arr = [];
    arr.push('p=' + i);
    for (var key in params) {
        if (key != 'p') {
            arr.push(key + '=' + params[key]);
        }
    }
    return arr.join('&');

}

%>
