<form action="?p=1" layout="row">
    <div class="search-form" layout="row" flex="40" flex-sm="60" flex-xs="100">
        <input type="text" value="<%=params.q%>" name="q" flex>
        <button type="submit">
            <span>Поиск</span>
        </button>
    </div>
</form>

