<% if (similarItems && similarItems.length) { %>
<div class="right-sidebar">

    <% include ../components/adv/adsense.vertical.ejs %>

    <div class="similar-list">
        <h4>Похожие</h4>
        <% similarItems.forEach(function(item) { %>
        <div class="similar-item">
            <% if (item.image) { %>
            <div class="similar-image">
                <a href="<%=item.url%>" target="_self"><img src="<%=item.image.src%>" alt=""></a>
            </div>
            <% } %>
            <div class="similar-title">
                <a href="<%=item.url%>" target="_self"><%=item.title%></a>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<% } %>
