<div class="star-rating">
    <div class="star-rating-caption">Оцените статью</div>
    <stars rating="<%-(rating && (rating.value > 0)) ? rating.value : 0%>"
           item="'<%-article._id%>'"
           item-type="'article'"
           own-rating="$ctrl.ownRating"></stars>
    <% if (rating && (rating.value > 0)) { %>
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        Средняя оценка <span itemprop="ratingValue"><%-rating.value%></span> из
        <span itemprop="bestRating"><%-rating.max%></span>,
        проголосовало: <span itemprop="ratingCount"><%-rating.count%></span>
    </div>
    <% } %>
</div>
