<ng-form name="ingredientForm">
    <div layout="row" layout-xs="column" layout-sm="column" layout-margin class="negative-margin">

        <div flex>
            <div class="autocomplete">
                <md-autocomplete md-input-name="foodField"
                                 close-on-enter
                                 md-selected-item="$ctrl.value.food"
                                 md-search-text="$ctrl.searchFoodText"
                                 md-items="item in $ctrl.searchFoods($ctrl.searchFoodText)"
                                 md-item-text="item.food"
                                 ng-enter="$ctrl.addFood($ctrl.searchFoodText)"
                                 ng-blur="$ctrl.addFood($ctrl.searchFoodText, true)"
                                 md-require-match
                                 placeholder="Продукт">
                    <md-item-template>
                        <span md-highlight-text="$ctrl.searchFoodText" md-highlight-flags="i">{{item.food}}</span>
                    </md-item-template>
                </md-autocomplete>
                <span ng-click="$ctrl.addFood($ctrl.searchFoodText)" class="add" ng-show="ingredientForm.foodField.$error['md-require-match']"></span>
            </div>
        </div>

        <div>
            <input name="quantity" type="text" placeholder="Кол-во / масса" ng-model="$ctrl.value.quantity">
        </div>

        <div flex>
            <div class="autocomplete">
                <md-autocomplete md-input-name="measureField"
                                 close-on-enter
                                 md-selected-item="$ctrl.value.measure"
                                 md-search-text="$ctrl.searchMeasureText"
                                 md-items="item in $ctrl.searchMeasures($ctrl.searchMeasureText)"
                                 md-item-text="item.measure"
                                 ng-enter="$ctrl.addMeasure($ctrl.searchMeasureText)"
                                 ng-blur="$ctrl.addMeasure($ctrl.searchMeasureText, true)"
                                 md-require-match
                                 placeholder="Единица измерения">
                    <md-item-template>
                        <span md-highlight-text="$ctrl.searchMeasureText" md-highlight-flags="i">{{item.measure}}</span>
                    </md-item-template>
                </md-autocomplete>
                <span ng-click="$ctrl.addMeasure($ctrl.searchMeasureText)" class="add" ng-show="ingredientForm.measureField.$error['md-require-match']"></span>
            </div>

        </div>
        <div class="ingredient-remove">
            <span class="pseudo-link" ng-click="$ctrl.removeIngredient($ctrl.ingredientNum)"><i class="material-icons">delete</i> удалить</span>
        </div>
    </div>
</ng-form>
