<div ng-repeat="ingredient in $ctrl.ingredients" class="recipe-ingredients">

    <ingredient value="ingredient" ingredients="$ctrl.ingredients" ingredient-num="$index"></ingredient>

</div>

<md-button class="md-raised" ng-click="$ctrl.addIngredient()">Добавить ингредиент</md-button>
