@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'




recipe-ingredients
  display: block
  margin-bottom: 1.5rem

  .recipe-ingredients
    &.ng-enter, &.ng-leave
      transition: 400ms ease all
      transform-origin: top
      display: block

    &.ng-leave.ng-leave-active, &.ng-enter
      transform: scaleY(0)
      opacity: 0

    &.ng-enter.ng-enter-active, &.ng-leave
      transform: scaleY(1)
      opacity: 1

  ingredient

    input[type=number]
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
      background-color: white
      font-size: 14px
      box-sizing: border-box
      border: none
      outline: none
      padding: 0 15px
      line-height: 40px
      height: 40px
      width: 132px


    display: block
    margin-bottom: 0.3rem

    .material-icons
      vertical-align: middle
      color: gray
      font-size: 1.1rem

    .autocomplete-error
      span, span:hover
        color: rgb(221,44,0)
      margin-top: 0.3rem
      font-size: 0.85rem

    .ingredient-remove
      line-height: 40px

    .autocomplete
      position: relative
      span.add
        position: absolute
        top: 56%
        transform: translateY(-50%)
        right: 35px
        border: none
        background: transparent
        &:after
          display: inline-block
          +size(30px)
          text-align: center
          font-size: 25px
          content: '\E146'
          color: steelblue
          cursor: pointer
          font-family: "Material Icons"



