<div class="additem">
    <form name="form" ng-submit="trySubmit = true; $ctrl.sendForm(form.$valid)" novalidate>
        <div layout="column" flex-xs="100" flex-sm="100" flex="70" layout-fill>

            <div class="field">
                <md-input-container>
                    <textarea placeholder="Текст совета" ng-model="$ctrl.adviceData.content" name="content" required md-maxlength="4500" rows="2" md-select-on-focus></textarea>
                    <div ng-show="form.content.$dirty || trySubmit">
                        <div ng-messages="form.content.$error" class="md-input-invalid">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </div>
                </md-input-container>
                <tag ng-model="$ctrl.adviceData.tags" name="tags" required></tag>
                <div ng-messages="form.$submitted && form.tags.$error">
                    <div ng-message="required">Теги - это обязательное поле</div>
                </div>
            </div>

            <div layout="row" layout-align="center center">
                <div>
                    <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true" ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || photosLoading">
                        <span ng-hide="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Добавить совет</span>
                            <span ng-show="$ctrl.loading">Совет добавляется...</span>
                        </span>
                        <span ng-show="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Сохранить изменения</span>
                            <span ng-show="$ctrl.loading">Изменения сохраняются...</span>
                        </span>
                    </md-button>
                </div>
                <div flex>
                    <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении формы. Пожалуйста, исправьте и кнопка станет активной.</div>
                </div>
            </div>
        </div>
    </form>
</div>
