@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'

items-list
  display: block
  .items-list
    margin-bottom: 2rem
  .pagination
    margin-bottom: 2rem
  switch
    .items-menu
      margin-bottom: 0.5rem

  .notfound
    margin-top: 2rem


  list-item
    display: block
    padding-bottom: 1rem
    margin-bottom: 1rem
    border-bottom: 1px solid #dbdbdb
    .title, .content
      margin-bottom: 0.3rem
    .title
      font-family: Akrobat, serif
      font-size: 1.4rem
    .date
      font-size: 0.85rem
      color: #b52e2e
      margin-bottom: 1rem
    .photo
      width: 250px
      max-height: 250px
      overflow: hidden
      img
        width: 100%
    .user
      margin-bottom: 1rem
    ul.controls
      li
        float: left
        margin-right: 1rem

    .status
      margin-bottom: 1rem




