<div layout="row" layout-xs="column" layout-margin class="negative-margin">
    <div ng-show="$ctrl.item.imageSrc">
        <div class="photo">
            <a href="{{$ctrl.item.url}}" target="_self"><img ng-src="{{$ctrl.item.imageSrc}}" alt="{{$ctrl.item.title}}"></a>
        </div>
    </div>
    <div flex layout="column">
        <div>
            <div class="title">
                <a ng-show="$ctrl.item.url" href="{{$ctrl.item.url}}" target="_self">{{$ctrl.item.title}}</a>
                <span ng-hide="$ctrl.item.url">{{$ctrl.item.title}}</span>
            </div>

            <div class="date">
                <span>{{$ctrl.item.createdAt}}</span>
            </div>

            <avatar avatar-user="$ctrl.item.user"></avatar>

            <div class="status">
                <status value="$ctrl.item.status" type="$ctrl.type" item-id="$ctrl.item._id" show-caption="true"></status>
            </div>

        </div>
        <div flex layout="column" layout-align="end start">

            <div layout="row" style="width: 100%">
                <div>
                    <ul class="controls">
                        <li>
                            <span class="pseudo-link" ng-click="$ctrl.editItem()">
                                <i class="material-icons">mode_edit</i> Изменить
                            </span>
                        </li>
                        <li>
                            <span class="pseudo-link" ng-click="$ctrl.deleteItem()">
                                <i class="material-icons">delete</i> Удалить
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
